<!-- Footer -->
{% load staticfiles %}
{% load i18n %}
<footer class="footer hidden-xs">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">			
				<h4>
					<strong>BrainTravel</strong>
				</h4>
                <br>
				<p class="text-muted"><a href="/i18n/change_language?language=es">{% trans "Spanish" %}</a> | <a href="/i18n/change_language?language=en">{% trans "English" %}</a></p>
                <p class="text-muted"><a href="/cookies_policy">{% trans "Cookies policy" %}</a> | <a href="/about_us">{% trans "About us" %}</a> | <a href="/privacy_terms">{% trans "Privacy terms" %}</a></p>
				<p class="text-muted">Copyright &copy; BrainTravel 2015</p>
				<img src="{% static "img/powered_fs.png" %}" alt="BrainTravel is powered by Foursquare"/>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript">
	$('#searchCollapse').on('hide.bs.collapse', function(e) {
		e.preventDefault();
		$('#content').addClass("padding-control");
		$('#searchCollapse').removeClass('in');
	});

	$('#searchCollapse').on('show.bs.collapse', function(e) {
		e.preventDefault();
		$('#content').removeClass("padding-control");
		$('#searchCollapse').addClass('in');
		$('.navbar-collapse').collapse('hide');
	});
</script>
