{% load i18n %}
<div class="navbar navbar-default navbar-bt-gen navbar-fixed-top" role="navigation" id="menu-bar">
    <div class="container bg-menu-collapse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BrainTravel</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if not perms.principal.administrator %}
                <li>
                    <a data-toggle="collapse" href="#searchCollapse" id="search-toggle">
                        <span id="search_nav" class="fa fa-search"></span>
                        <strong>{% trans "Search"%}</strong>
                    </a>
                </li>
                {% endif %}
                {% if user.is_anonymous %}
                    {% include "miscellaneous/anonymous-menu.html" %}
                {% else %}
                    {% if perms.principal.traveller %}
                        {% include "miscellaneous/traveller-menu.html" %}
                    {% elif  perms.principal.administrator %}
                        {% include "miscellaneous/admin-menu.html" %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% if not perms.principal.administrator %}
<div class="collapse padding-control" id="searchCollapse">
	<div class="well search-bt">
		<form action="/search_trip/" method="post" role="search">
			{% csrf_token %}
			<div class="input-group">
				<input type="text" id="input-search" class="form-control"
					name="title" placeholder={% trans "Type to search"%} autofocus="autofocus"> <span
					class="input-group-btn">
					<button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#searchCollapse">
						<span class="fa fa-times"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>
{% endif %}