{% load i18n %}
<div class="navbar navbar-default navbar-bt-gen navbar-static-top" role="navigation">
    <div class="container bg-menu-collapse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BrainTravel</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a data-toggle="collapse" href="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse" id="search-toggle">
                        <span class="fa fa-search"></span>
                        <strong>Search</strong>
                    </a>
                </li>
                {% if user.is_anonymous %}
                    {% include "miscellaneous/anonymous-menu.html" %}
                {% else %}
                    {% if perms.principal.traveller %}
                        {% include "miscellaneous/traveller-menu.html" %}
                    {% elif  perms.principal.administrator %}
                        {% include "miscellaneous/admin-menu.html" %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>


<div class="collapse" id="searchCollapse">
	<div class="well">
		<form action="/search_trip/" method="post" role="search">
			{% csrf_token %}
			<div class="input-group">
				<input type="text" id="input-search" class="form-control"
					name="title" placeholder="Type to search"> <span
					class="input-group-btn">
					<button class="btn btn-danger" type="reset" data-toggle="collapse">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>