<div class="navbar navbar-bt-gen navbar-static-top" role="navigation">
    <div class="container bg-menu-collapse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BrainTravel</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/search"><span class="fa fa-search"></span></a>
                </li>
                {% if user.is_anonymous %}
                    {% include "miscellaneous/anonymous-menu.html" %}
                {% else %}
                    {% if perms.principal.traveller %}
                        {% include "miscellaneous/traveller-menu.html" %}
                    {% elif  perms.principal.administrator %}
                        {% include "miscellaneous/admin-menu.html" %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>