<li>
    <a id="sign_ind_nav" href="/auth_request">test FS</a>
</li>
<li>
    <a id="sign_ind_nav" href="/buy_coins">Buy Coins</a>
</li>

<li>
    <a id="sign_ind_nav" href="/trip/mylist">List my trips</a>
</li>

<li>
    <a id="sign_ind_nav" href="/trip/planned_trips">List my planned trips</a>
</li>

<li>
    <a id="sign_ind_nav" href="/trip/draft">List my trips draft</a>
</li>

<li>
    <a id="sign_ind_nav" href="/coin/list">List history coins</a>
</li>

<li>
    <a id="sign_ind_nav" href="/payment">My payments</a>
</li>

<!-- <li style="text-decoration: None; margin-right: 5px">
{#    <a id="sign_ind_nav" href="/profile/{{ user.traveller.id }}">#}
{#        <img class="avatar img-circle img-thumbnail" src="/static/user_folder/{{ user.traveller.photo }}" onerror="this.src='/static/user_folder/default.jpg'" width="45" alt="User progile">#}
    </a>
</li> -->

<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span>
		<strong>{{ user.traveller.first_name }}</strong> <span class="glyphicon glyphicon-chevron-down"></span>
</a>
	<ul class="dropdown-menu">
		<li>
			<div class="navbar-login">
				<div class="row">
					<div class="col-lg-4 text-center">
						<img class="avatar img-circle img-thumbnail" src="/{{ user.traveller.photo }}" alt="{{ user.traveller.first_name }}">
					</div>
					<div class="col-lg-8">
						<p class="text-left">
							<strong>{{ user.traveller.first_name }}</strong>
						</p>
						<p class="text-left small">{{ user.traveller.email }}</p>
						<p class="text-left">
							<a href="/profile/{{ user.traveller.id }}" class="btn btn-primary btn-block btn-sm">View profile</a>
						</p>
					</div>
				</div>
			</div>
		</li>
		<li class="divider"></li>
		<li>
			<div class="navbar-login navbar-login-session">
				<div class="row">
					<div class="col-lg-12">
						<p>
							<a href="/logout" class="btn btn-danger btn-block">Logout</a>
						</p>
					</div>
				</div>
			</div>
		</li>
	</ul></li>