{% load i18n %}
{#<li>#}
{#    <a id="sign_ind_nav" href="/auth_request">test FS</a>#}
{#</li>#}
{% load i18n %}
<li>
    <a id="sign_ind_nav" href="/planner/list_venues/">
        <span class="fa fa-file-text"></span>
        <strong>Plan a trip</strong>
    </a>
</li>

<li>
    <a id="sign_ind_nav" href="/statistics/">
        <span class="fa fa-bar-chart"></span>
        <strong>{%trans "View statistics" %}</strong>
    </a>
</li>

<li>
    <a id="sign_ind_nav" href="/buy_coins">
        <span class="fa fa-shopping-cart"></span>
        <strong>Buy coins</strong>
    </a>
</li>

<li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-plane"></span>
		<strong>Trips</strong>
        <span class="fa fa-chevron-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/trip/create"><i class="fa fa-plus"></i> {% trans "Publish trip" %}</a></li>
        <li><a href="/trip/mylist"><i class="fa fa-plane"></i> {% trans "My trips" %}</a></li>
        <li><a href="/trip/planned_trips"><i class="fa fa-list-ol"></i> {% trans "My planned trips" %}</a></li>
        <li><a href="/trip/draft"><i class="fa fa-archive"></i> {% trans "Drafts" %}</a></li>
        <li><a href="/visited_venues"><i class="fa fa-eye"></i> {% trans "Visited venues" %}</a></li>
    </ul>
</li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-user"></span>
		<strong>{{ user.traveller.first_name }}</strong>
        <span class="fa fa-chevron-down"></span>
    </a>
	<ul class="dropdown-menu">
		<li>
			<div class="navbar-login">
				<div class="row">
					<div class="col-xs-4 text-center">
						<img class="avatar img-circle img-thumbnail img-profile-navbar" src="/{{ user.traveller.photo }}" alt="{{ user.traveller.first_name }}">
					</div>
					<div class="col-xs-8 text-center">
						<p class="text-left">
							<strong>{{ user.traveller.first_name }}</strong>
						</p>
						<p class="text-left small">{{ user.traveller.email }}</p>
						<p class="text-left">
							<a href="/profile/{{ user.traveller.id }}" class="btn btn-primary btn-block btn-sm">View profile</a>
						</p>
					</div>
				</div>
			</div>
		</li>
		<li class="divider"></li>
		<li>
			<div class="navbar-login navbar-login-session">
				<div class="row">
					<div class="col-xs-12 text-center">
					   <button class="btn btn-danger btn-block" onclick="window.location.href='/logout'">Logout</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
</li>
