{% extends 'base.html' %}
{% block title %} 404 {% endblock %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div class="error-template well">
                <h1>Oops!</h1>
                <h2>{% trans "400 Bad request" %}</h2>
                <div class="error-details">
                    {% trans "Your browser and our server don't understand each other..." %}
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-home"></i> {% trans "Take Me Home" %}</a>
                    <a href="mailto:notificaciones.braintravel@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope"></i> {% trans "Contact Support" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}