{% extends 'base.html' %}
{% block title %} 500 {% endblock %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template well">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details">
                    {% trans "We think you're lost..." %}
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>{% trans "Take Me Home" %}</a>
                    <a href="mailto:notificaciones.braintravel@gmail.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span>{% trans "Contact Support" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}