{% extends 'base.html' %}
{% block title %} About us {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align: center">Sobre nosotros</h1>
            <p>
            <a href="http://www.braintravel.com">http://www.braintravel.com</a> es propiedad de BrainTravel Co.
            </p>
            <p>
            Residente en Alcal&aacute; del R&iacute;o &ndash; Sevilla 41200
            CIF: 123456789
            </p>
            <p>
            Informaci&oacute;n Registro: Inscrita en el registro Mercantil de Sevilla, Fecha: 01/01/2014, N&ordm;
            Anuncio: 169011 BORME
            </p>
            <p>
            La p&aacute;gina web <a href="http://www.braintravel.com">http://www.braintravel.com</a> es explotada por BrainTravel Co., Inc. (el
            propietario) en calidad de empresa.
            </p>
            <p>
            Para cualquier problema al respecto, deben ponerse en contacto con la direcci&oacute;n de correo
            electr&oacute;nico <a href="mailto:clientes.braintravel@gmail.com">clientes.braintravel@gmail.com</a> o
            </p>
            SEVILLA Telf.: +34 955555555 Fax:+34
        </div>
    </div>
</div>
{% endblock %}