{% extends 'base.html' %}
{% block title %} {% trans "About us" %} {% endblock %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-justify">
            <h2>{% trans "About us" %}</h2>
            <p>
            <a href="http://www.braintravel.com">http://www.braintravel.com </a>{% trans "is owned by BrainTravel Co., Inc. " %}
            </p>
            <p>
            {% trans "Resident of Sevilla (41200)" %}
            CIF: 123456789
            </p>
            <p>
            {% trans "Registration Information: Registered in the Commercial Register of Seville, Date: 01/01/2015, Contract No.: 169011 BORME" %}
            </p>
            <p>
            {% trans "The website" %} <a href="http://www.braintravel.com">http://www.braintravel.com</a> {% trans "is operated by BrainTravel Co., Inc. (the owner) as company." %}
            </p>
            <p>
            {% trans "For any problem with it, contact the email" %} <a href="mailto:clientes.braintravel@gmail.com"> clientes.braintravel@gmail.com </a>
             {% trans "or phone +34 955555555" %}
            </p>
           
        </div>
    </div>
</div>
{% endblock %}