{% extends 'base.html' %}
{% block title %} Assessment {% endblock %}
{% block content %}
    {% load i18n %}
<div class="container">
    <h1>Assessment list</h1>
    {% if not assessments %}
        <p>{% trans "Oops! BrainTravel could not find anything..." %}</p>
    {% else %}
        {% for assessment in assessments %}
            <div class="well col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="media">
                    <div class="row">
                        <div class="col-xs-offset-4 col-xs-4 col-sm-offset-0 col-sm-2 col-md-offset-0 col-md-2 col-lg-offset-0 col-lg-2">
                            <a href="/profile/{{ assessment.traveller.id }}">
                                <img class="img-rounded img-responsive img-circle" src="/{{assessment.traveller.photo}}" title="{{ assessment.traveller.first_name }}" width="150px"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                            <p><span style="font-size: 40px"><i class="fa fa-star fa"  style="text-decoration: None"></i> {{ assessment.score }}</span></p>
                            <p style="font-size: 20px; text-align: justify">{{ assessment.comment }}</p>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
        
    <nav class="col-xs-12">
        <ul class="pager">
            <li {% if not assessments.has_previous %} class="disabled"{% endif %}>
                <a {% if assessments.has_previous %} href="?page={{ assessments.previous_page_number }}"{% endif %}><span aria-hidden="true">&laquo;</span></a>
            </li>
    
            <li>
              <span>{% trans "Page" %} {{ assessments.number }} {% trans "of" %} {{ assessments.paginator.num_pages }}</span>
            </li>
    
            <li {% if not assessments.has_next %} class="disabled"{% endif %}>
              <a {% if assessments.has_next %} href="?page={{ assessments.next_page_number }}"{% endif %}><span aria-hidden="true" class="disabled">&raquo;</span></a></li>
        </ul>
    </nav>

    {% endif %}
</div>
{%endblock%}