{% extends 'base.html' %}
{% block title %} Buy coins {% endblock %}
{% block content %}
<div class="container">
<div class="text-center">
    <h1>Paquetes de monedas</h1>
    <p>Con nuestras monedas virtuales podras organizar tus viajes. Aprovecha nuestros packs!</p>
</div>
    <div class="db-padding-btm db-attached">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-one">
                    <div class="price">
                        <p>4.50&euro;</p>
                    </div>
                    <div class="type">
                        <p>40 coins</p>
                        <p>pack</p>
                    </div>
                    <div class="pricing-footer">
                        {{form1.render}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-two popular">
                <div class="price">
                    <p>7&euro;</p>
                </div>
                <div class="type">
                    <p>60 coins</p>
                    <p>pack</p>
                </div>
                <div class="pricing-footer">
                    {{form2.render}}
                </div>
            </div>
                 </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-three">
                <div class="price">
                     <p>10&euro;</p>
                </div>
                <div class="type">
                    <p>100 coins</p>
                    <p>pack</p>
                </div>
                <div class="pricing-footer">
                    {{form3.render}}
                </div>
            </div>
                 </div>
        </div>
    </div>
</div>
{%endblock%}
