{% extends 'base.html' %}
{% block title %} Buy coins {% endblock %}
{% block content %}
<div class="container">
    <div class="pricing-table pricing-three-column row">
        <div class="plan col-sm-4 col-lg-4">
          <div class="plan-name-bronze">
            <h2>Bronze</h2>
            <span>4.50&euro;</span>
          </div>
          <ul>
            <li class="plan-feature">40 Coins</li>
            <li class="plan-feature">{{form1.render}}</li>
          </ul>
        </div>
        <div style="z-index:55;" class="plan col-sm-4 col-lg-4">
          <div class="plan-name-silver">
            <h2>Silver <span class="badge badge-warning">Popular</span></h2>
{#            <span><strike>$10.99</strike>   <font color="red">$9.99 - <span class="label label-warning">Sale</span></font></span>#}
              <span>7.00&euro;</span>
          </div>
          <ul>
            <li class="plan-feature">60 Coins</li>
              <li class="plan-feature">{{form2.render}}</li>
          </ul>
        </div>
        <div class="plan col-sm-4 col-lg-4">
          <div class="plan-name-gold">
            <h2>Gold</h2>
            <span>10.00&euro;</span>
          </div>
          <ul>
            <li class="plan-feature">100 Coins</li>
              <li class="plan-feature">{{form3.render}}</li>
          </ul>
        </div>
    </div>
</div>
{%endblock%}
