{% extends 'base.html' %}
{% block title %} Cookies policies {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align: center">Uso de cookies en Acme BrainTravel</h1>
            <h2>Pol&iacute;tica de Cookies</h2>
            <p>
                Nuestra pol&iacute;tica de cookies est&aacute; sujeta a actualizaciones peri&oacute;dicas. Su prop&oacute;sito es ayudarle a
                comprender el uso que hacemos de las cookies, la finalidad de las cookies utilizadas, as&iacute; como
                las opciones que tiene el usuario para gestionarlas.
            </p>
            <p>
                Los usuarios pueden acceder a esta informaci&oacute;n en todo momento a trav&eacute;s del link habilitado en la web.
            </p>
            <h2>&iquest;Qu&eacute; es una Cookie?</h2>
            <p>
                Una &ldquo;Cookie&rdquo; es un peque&ntilde;o archivo de texto que un sitio web almacena en el navegador del
                usuario. Las cookies facilitan el uso y la navegaci&oacute;n por una p&aacute;gina web y son esenciales para el
                funcionamiento de internet, aportando innumerables ventajas en la prestaci&oacute;n de servicios
                interactivos.
             </p>
            <p>
                Las cookies se utilizan, por ejemplo, para gestionar la sesi&oacute;n del usuario (reduciendo el n&uacute;mero

                de veces que tiene que incluir su contrase&ntilde;a), mejorar los servicios ofrecidos, o para adecuar

                los contenidos de una p&aacute;gina web a sus preferencias.
            </p>
            <p>
                Las cookies pueden ser de &ldquo;sesi&oacute;n&rdquo;, por lo que se borrar&aacute;n una vez el usuario abandone la

                p&aacute;gina web que las gener&oacute; o &ldquo;persistentes&rdquo;, que permanecen en su ordenador hasta una fecha

                determinada.
            </p>
            <p>
                Asimismo, las cookies pueden ser &ldquo;propias&rdquo;, gestionadas por el dominio al que el usuario

                accede y del que solicita un determinado servicio (en este caso los domicilio titularidad de

                BrainTravel Co., Inc.) o &ldquo;cookies de terceros&rdquo;, enviadas al equipo de usuario desde un dominio

                diferente al que se accede.
            </p>
            <h2>Cookies comunes de los sitios de braintravel.com</h2>
            <p>
                En los siguientes puntos recogen las cookies utilizadas por todos los sitios que abarca el
                estudio, tanto las de la propia aplicaci&oacute;n como las de terceros:
            </p>
            <p>
                <ul>
                    <li>
                        Cookie de sesi&oacute;n (&ldquo;sessionid&rdquo;): Sirve para identificar inequ&iacute;vocamente a cada usuario
                        que accede a la aplicaci&oacute;n. Esta cookie es necesaria para usar estos sitios web, por lo
                        que si el usuario decide eliminar esta cookie de su dispositivo, el sitio web puede no
                        funcionar correctamente.
                    </li>
                    <li>
                        Cookie de token CSRF (&ldquo;csrftoken&rdquo;): Se usa como medida de seguridad para evitar
                        diversos ataques.
                    </li>
                    <li>
                        Cookie de aceptaci&oacute;n de cookies (&ldquo;cp-enabled&rdquo;): Se utiliza para recordar si el usuario
                        ha aceptado ya la pol&iacute;tica de cookies del sitio.
                    </li>
                </ul>
            </p>
            <h2>Deshabilitar el uso de cookies</h2>
            <p>
                Si el usuario as&iacute; lo desea, es posible dejar de aceptar las Cookies del navegador, o dejar de
                aceptar las Cookies de un servicio en particular.
            </p>
            <p>
                Todos los navegadores modernos permiten cambiar la configuraci&oacute;n de Cookies. Estos ajustes
                normalmente se encuentran en las "Opciones" o "Preferencias" del men&uacute; del navegador.
            </p>
            <p>
                El usuario podr&aacute;, en cualquier momento, deshabilitar el uso de Cookies en este sitio web
                mediante:
            </p>
            <ul>
                <li>
                    La configuraci&oacute;n del navegador, por ejemplo:
                    <ul>
                        <li>
                        Google Chrome:
                        <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647">http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</a>
                        </li>
                        <li>
                            Internet Explorer:
                            <a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a>
                        </li>
                        <li>
                            Mozilla Firefox:
                            <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a>
                        </li>
                        <li>
                            Apple Safari:
                            <a href="http://support.apple.com/kb/ph5042">http://support.apple.com/kb/ph5042</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Otras herramientas de terceros, disponibles on-line, que permiten a los usuarios
                    detectar las Cookies en cada sitio web que visita y gestionar su desactivaci&oacute;n (por
                    ejemplo, Ghostery: <a href="http://www.ghostery.com/privacy-statement">http://www.ghostery.com/privacy-statement</a>).
                </li>
            </ul>
            <br>
        </div>
    </div>
</div>
{% endblock %}