{% extends 'base.html' %}
{% block title %}Cookies policy{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-justify">
            <h2>Pol&iacutetica de Cookies</h2>
            <p> Nuestra pol&iacutetica de cookies est&aacute sujeta a actualizaciones peri&oacutedicas. Su prop&oacutesito es ayudarle a
                comprender el uso que hacemos de las cookies, la finalidad de las cookies
                utilizadas, as&iacute como las opciones que tiene el usuario para gestionarlas.</p>
            <p>
               Los usuarios pueden acceder a esta informaci&oacuten en todo momento a trav&eacutes del link habilitado en la web.
            </p>

            <h3>¿Qu&eacute es una Cookie?</h3>

            <p>Una “Cookie” es un pequeño archivo de texto que un sitio web almacena en el navegador del usuario. Las
                cookies facilitan el uso y la navegaci&oacuten por una p&aacutegina web y son esenciales para el funcionamiento de
                internet, aportando innumerables ventajas en la prestaci&oacuten de servicios interactivos.
		    </p>

		    <p>
		        Las cookies se utilizan, por ejemplo, para gestionar la sesi&oacuten del usuario (reduciendo el n&uacutemero de veces
                que tiene que incluir su contraseña), mejorar los servicios ofrecidos, o para adecuar los contenidos
                de una p&aacutegina web a sus preferencias.
		    </p>

            <p>
                Las cookies pueden ser de “sesi&oacuten”, por lo que se borrar&aacuten una vez el usuario abandone la p&aacutegina web
                que las gener&oacute o “persistentes”, que permanecen en su ordenador hasta una fecha determinada.
		    </p>

            <p>
                Asimismo, las cookies pueden ser “propias”, gestionadas por el dominio al que el usuario accede y del
                que solicita un determinado servicio (en este caso los domicilio titularidad de BrainTravel Co., Inc.)
                o “cookies de terceros”, enviadas al equipo de usuario desde un dominio diferente al que se accede.
			</p>

            <h3>En los siguientes puntos recogen las cookies utilizadas por todos los sitios que abarca el estudio,
                tanto las de la propia aplicaci&oacuten como las de terceros:</h3>
                <ul>
                    <li>
		                <strong>Session Cookie ('sessionid'):</strong> Sirve para identificar inequ&iacutevocamente a cada usuario que
                        accede a la aplicaci&oacuten. Esta cookie es necesaria para usar estos sitios web, por lo que si el
                        usuario decide eliminar esta cookie de su dispositivo, el sitio web puede no funcionar correctamente.
					</li>
                    <li>
                        <strong>CSRF token cookie ('csrftoken'):</strong> Se usa como medida de seguridad para evitar diversos ataques.
                    </li>
                    <li>
                        <strong>Aceptance cookie ('cp-enabled'):</strong> Se utiliza para recordar si el usuario ha aceptado ya la pol&iacutetica de cookies del sitio.
                    </li>
                </ul>
            <br>
        </div>
    </div>
</div>
{% endblock %}