{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Coin historial" %} {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
		    <div>
		        <h2>{% trans "Coin historial" %}</h2>
		        <p>{% trans "Those are movements that you made with your coins through the platform" %}
		    </div>
		
		    {% if not list_coin_history %}
		        <h4>{% trans "We couldn't find anything..." %}</h4>
		    
		    {% else %}
		    <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Concept" %}</th>
                </tr>
                </thead>
                <tbody>
		    {% endif %}
		
	
		        {% for coin_history in list_coin_history %}
		            <tr>
		                <td>{{ coin_history.amount|safe }}</td>
		                <td>{{ coin_history.date|date:"d/m/Y"|safe }}</td>
		                <td>{{ coin_history.trip.day_set.count }} {% if coin_history.trip.day_set.count > 1 %}{% trans "days in"%} {% else %} {% trans "day in"%} {{ coin_history.trip.day_set.count }}</td>
		            </tr>
		        {% endfor %}
		        </tbody>
		    </table>
		</div>
	</div>
    
	<nav class="col-xs-12">
		<ul class="pager">
			<li {% if not list_coin_history.has_previous %} class="disabled"{% endif %}>
				<a {% if list_coin_history.has_previous %} href="?page={{ list_coin_history.previous_page_number }}"{% endif %}><span aria-hidden="true">&laquo;</span></a>
			</li>
	
			<li>
			  <span>{% trans "Page" %} {{ list_coin_history.number }} {% trans "of" %} {{ list_coin_history.paginator.num_pages }}</span>
			</li>
	
			<li {% if not list_coin_history.has_next %} class="disabled"{% endif %}>
			  <a {% if list_coin_history.has_next %} href="?page={{ list_coin_history.next_page_number }}"{% endif %}><span aria-hidden="true" class="disabled">&raquo;</span></a></li>
		</ul>
	</nav>

</div>

{% endblock %}
