{% extends 'base.html' %}
{% block title %} My trips {% endblock %}
{% block content %}
    {% load i18n %}

    <h1>{% trans "List of my trips" %}</h1>

    {% if not trips %}
        <p>{% trans "We couldn't find anything..." %}</p>
    {% endif %}

    {% if op_code == "1" %}
        <h1>{% trans "Published Trip" %}</h1>
    {% endif %}

    {% for trip in trips %}
        <div class="well animated fadeInUp">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="img-rounded" src="/static/user_folder/{{ trip.traveller.photo }}">
                </a>

                <div class="media-body">
                    <h3 class="media-heading">{{ trip.name }}</h3>

                    <p class="text-right">By {{ trip.traveller }}</p>

                    <p>{{ trip.publishedDescription|safe }}</p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="fa fa-calendar"></i> {{ trip.startDate }} - {{ trip.endDate }}</span></li>
                        <li>|</li>
                        <span> {{ trip.comment_set.all.count }} <i class="fa fa-comments"></i></span>
                        <li>|</li>
                        <span><i class="fa fa-thumbs-o-up"></i> {{ trip.likes }}</span>
                        <li>|</li>
                        <span><i class="fa fa-thumbs-o-down"></i> {{ trip.dislikes }}</span>
                        <li>|</li>
                        <a href="/public_trip_details/{{ trip.scorable_ptr_id }}"><i
                                class="fa fa-info-circle"></i> {% trans "View more" %}</a>
                    </ul>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

    <a href="/Trip/create"><i class="fa fa-info-circle"></i> {%  trans "Create new Trip" %}</a>
    <br>

    <div class="pagination">
    <span class="step-links">
        {% if trips.has_previous %}
            <a href="?page={{ trips.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ trips.number }} of {{ trips.paginator.num_pages }}.
        </span>

        {% if trips.has_next %}
            <a href="?page={{ trips.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
    </div>


{% endblock %}