{% extends 'base.html' %}
{% block title %} History coin {% endblock %}
{% block content %}
{% load i18n %}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
		    <div>
		        <h2>{% trans "Coin historial" %}</h2>
		        <p>{% trans "Those are movements that you made with your coins through the platform" %}
		    </div>
		
		    {% if not list_coin_history %}
		        <h4>{% trans "We couldn't find anything..." %}</h4>
		    {% endif %}
		
		    <table class="table table-striped">
		        <thead>
		        <tr>
		            <th>{% trans "Amount" %}</th>
		            <th>{% trans "Date" %}</th>
		            <th>{% trans "Concept" %}</th>
		        </tr>
		        </thead>
		        <tbody>
		        {% for coin_history in list_coin_history %}
		            <tr>
		                <td>{{ coin_history.amount|safe }}</td>
		                <td>{{ coin_history.date|date:"D d M Y"|safe }}</td>
		                <td>{{ coin_history.concept|safe }}</td>
		            </tr>
		        {% endfor %}
		        </tbody>
		    </table>
		</div>
	</div>

    <div class="pagination col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="step-links">
            {% if list_coin_history.has_previous %}
                <a href="?page={{ list_coin_history.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                    Page {{ list_coin_history.number }} of {{ list_coin_history.paginator.num_pages }}.
            </span>
            {% if list_coin_history.has_next %}
                <a href="?page={{ list_coin_history.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
