{% extends 'base.html' %}
{% block title %} Payments {% endblock %}
{% block content %}
<div class="container">
    {% load i18n %}

    <div class="text-center">
        <h2>{% trans "List of all my payments" %}</h2>
    </div>

    {% if not list_payments %}
        <h4>{% trans "We couldn't find anything..." %}</h4>
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Id" %}</th>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Concept" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in list_payments %}
            <tr>
                <td>{{ payment.id|safe }}</td>
                <td>{{ payment.amount|safe }}</td>
                <td>{{ payment.date|date:"D d M Y"|safe }}</td>
                <td>{{ payment.coinhistory.concept|safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
