{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Payments" %} {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
		    <div>
		        <h2>{% trans "Payment historial" %}</h2>
	           <p>{% trans "Those are payments that made through the platform to buy coins" %}
		    </div>
		
		    {% if not list_payments %}
		        <h4>{% trans "We couldn't find anything..." %}</h4>
		    {% endif %}
		
		    <table class="table table-striped">
		        <thead>
		        <tr>
 		            <!-- <th>{% trans "Id" %}</th> -->
		            <th>{% trans "Amount" %}</th>
		            <th>{% trans "Date" %}</th>
		            <th>{% trans "Concept" %}</th>
		        </tr>
		        </thead>
		        <tbody>
		        {% for payment in list_payments %}
		            <tr>
		                <!-- <td>{{ payment.id|safe }}</td> -->
		                <td>{{ payment.amount|safe }}</td>
		                <td>{{ payment.date|date:"d/m/Y"|safe }}</td>
		                <td>{{ payment.coinhistory.concept|safe }}</td>
		            </tr>
		        {% endfor %}
		        </tbody>
		    </table>
		</div>
	</div>
            <nav class="col-xs-12">
              <ul class="pager">
                <li {% if not list_payments.has_previous %} class="disabled" {% endif %}>
                  <a {% if list_payments.has_previous %} href="?page={{ list_payments.previous_page_number }}" {% endif %}><span aria-hidden="true">&laquo;</span></a>
                </li>
                
                <li>
                 <span>{% trans "Page" %} {{ list_payments.number }} {% trans "of" %} {{ list_payments.paginator.num_pages }}</span>
                </li>
                
                <li {% if not list_payments.has_next %} class="disabled" {% endif %}>
                    <a {% if list_payments.has_next %} href="?page={{ list_payments.next_page_number }}" {% endif %}><span aria-hidden="true" class="disabled" >&raquo;</span></a>  
                </li>
              </ul>
            </nav>	
</div>
{% endblock %}
