{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %} {% trans "Plan a trip" %} {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
	    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
		    <div class="text-center">
		        <h1>{% trans "Plan a trip" %}</h1>
		        <p>{% trans "Enter the data and we'll plan a trip for you" %}</p>
		    </div>

		    <div class="text-left">
		         <fieldset>
		             <legend>{% trans "Trip data" %}</legend>
					 <h4>{% trans "Price" %}: <span id="tripPrice">-</span> {% trans "coins" %}</h4>
					 <h4>{% trans "You have" %}: <span id="myCoins">{{traveller.coins}}</span> {% trans "coins" %}</h4>
				 </fieldset>
			 </div>

	        <form id="form-create" class="form-horizontal" role="form" action="/planner/list_venues/" method="post"
	              data-toggle="validator">
	                {% csrf_token %}
	                <div class="col-xs-12 col-sm-4">
		                <div class="form-group">
		                   <div class="col-xs-12">
			                    <label for="id_city" class="control-label">{% trans "City" %}</label>
			                    <input class="form-control" id="id_city" name="city" type="text"
			                           value="{% if form.initial|length != 0 %}{{ form.initial.city }}{% else %}{{ form.data.city }}{% endif %}"
			                           required/>
			                    <div class="help-block with-errors"></div>
		                   </div>
		                </div>
		            </div>

		            <div class="col-xs-12 col-sm-4">
	                    <div class="form-group">
	                        <div class="col-xs-12">
			                    <label for="id_country"
			                           class="control-label">{% trans "Country" %}</label>
			                    <input class="form-control" id="id_country" name="country" type="text"
			                           value="{% if form.initial|length != 0 %}{{ form.initial.country }}{% else %}{{ form.data.country }}{% endif %}"
			                           required/>
			                    <div class="help-block with-errors"></div>
		                    </div>
		                </div>
	                 </div>

	                <div class="col-xs-12 col-sm-4">
		                <div class="form-group">
		                   <div class="col-xs-12">
			                    <label for="id_days"class="control-label">{% trans "Days" %}</label>
			                    <input class="form-control" id="id_days" name="days" type="number" min="1" max="7"
			                           value="{% if form.initial|length != 0 %}{{ form.initial.days }}{% else %}{{ form.data.days }}{% endif %}"
			                           required onchange="calculatePlanPrice(this.value);"/>
			                    <div class="help-block with-errors"></div>
		                   </div>
		                </div>
		            </div>

	            <div class="col-xs-12">
		            <div class="form-group">
		                <fieldset><legend>{% trans "Custom constraints" %} <a data-toggle="collapse" href="#collapseConstraints">{% trans "Hide/show" %}</a></legend></fieldset>

		                <div id="collapseConstraints" class="panel-collapse collapse">
			                <div class="col-xs-12 col-sm-6">
			                    <div class="form-group">
			                        <div class="col-xs-12">
			                            <label for="cantidad">{% trans "Select modifier" %}</label>
			                            <select id="cantidad" style="display: none;" class="chosen-select" tabindex="-1">
			                                <option value=""></option>
			                                <option value="Mucho">{% trans "A lot of" %}</option>
			                                <option value="Poco">{% trans "Some of" %}</option>
			                                <option value="Nada">{% trans "Anything of" %}</option>
			                            </select>
			                        </div>
			                    </div>
			                </div>

			                <div class="col-xs-12 col-sm-6">
			                    <div class="form-group">
			                      <div class="col-xs-12">
			                            <label for="selec">{% trans "Select your custom constrains" %}</label>
			                            <select id="selec" style="display: none;"  class="chosen-select">
			                                <option></option>
			                                {% for cat in list_cat %}
			                                    <option value= {{ cat.id_foursquare }}>{% trans cat.name %}</option>
			                                {% endfor %}
			                            </select>
			                        </div>
			                    </div>
			                </div>

			                <div class="col-xs-12">
			                    <div class="form-group">
			                        <div class="col-xs-12 text-center">
			                          <input class="btn btn-primary" id="copy" name="copy" value="{% trans 'Add Restriction' %}" type="button" onclick=copyValues()>
			                        </div>
				                    <input class="form-control" type="hidden" readonly name="rests" id="rest1"/>
				                    <input class="form-control" type="hidden" readonly name="rests" id="rest2"/>
				                    <input class="form-control" type="hidden" readonly name="rests" id="rest3"/>
			                    </div>
			                </div>

			                <div class="col-xs-12">
			                    <h4>{% trans "Selected constrains" %}</h4>
			                    <div class="row">
			                        <div class="col-xs-8">
			                            <h4><span class="label label-primary" id="rest1_lb1"></span></h4>
	                                </div>
	                                <div class="col-xs-4">
	                                   <input type="hidden" class="btn btn-link" id="delete1" name="Delete lb1" value="{% trans "Delete" %}" onclick=deleteHidden("1")>
	                                </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h4><span class="label label-primary" id="rest1_lb2"></span></h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="hidden" class="btn btn-link" id="delete2" name="Delete lb2" value="{% trans "Delete " %}" onclick=deleteHidden("2")>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h4><span class="label label-primary" id="rest1_lb3"></span></h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="hidden" readonly class="btn btn-link" id="delete3" name="Delete lb3" value="{% trans "Delete" %}" onclick=deleteHidden("3")>
                                    </div>
                                </div>
				            </div>
			            </div>
		            </div>
		        </div>

	            <div class="col-xs-12">
	                <div class="form-group">
	                    <div class="col-xs-12">
	                       <hr>
	                       <input id="create_plan" class="btn btn-primary btn-block" name="save"
                                  value="{% trans "Create Plan" %}" type="submit" onclick=send_form()>
                        </div>
                    </div>
                </div>

	        </form>
        </div>
    </div>
</div>
<script>
    //son los hidden
    var input1 = $("#rest1");
    var input2 = $("#rest2");
    var input3 = $("#rest3");

    //son los que se ven en la pantalla
    var rest_lb1 = $("#rest1_lb1");
    var rest_lb2 = $("#rest1_lb2");
    var rest_lb3 = $("#rest1_lb3");

    var input_city = $("#id_city");
    var input_days = $("#id_days");
    var input_country = $("#id_country");

function deleteHidden(number){
    var target = "rest" + number;
    var rest_lbN = "rest1_lb" + number;
    var deleteTo = "delete" + number;
    //borramos el hidden
    $('#' + target).val("");
    //Borramos el visible
    $('#' + rest_lbN).text("");
    //Habilitamos el boton de agregar mas restricciones
    $("#copy").prop('disabled', false);
    //desabilitamos el boton de borrar
    $('#' + deleteTo).prop("type", "hidden");
}

function copyValues() {
    var category;
    var cantidad;

    cantidad = $("#cantidad").find('option:selected').text();
    category = $("#selec").find('option:selected').text();

    if (cantidad.length == 0 || category.length == 0){
        return false;
    }

    //selecciona la id_categoria
    var cat_id = jQuery("#selec option:selected").val();

    //selecciona la cantidad
    var vals = jQuery("#cantidad option:selected").val();

    var txt1 = input1.val();
    var txt2 = input2.val();
    var txt3 = input3.val();

    //evita repetidos
    if (category == input1.val().split(":")[0] || category == input2.val().split(":")[0] || category == input3.val().split(":")[0]) {
        return false;
    }

    if (txt1 == "") {
        input1.val(cat_id + ":" + vals);
        rest_lb1.text(cantidad + ": " + category);
        $("#delete1").prop("type", "button");
    }
    else if (txt2 == "") {
        input2.val(cat_id + ":" + vals);
        rest_lb2.text(cantidad + ": " + category);
        $("#delete2").prop("type", "button");
    }
    else if (txt3 == "") {
        input3.val(cat_id + ":" + vals);
        rest_lb3.text(cantidad + ": " + category);
        $("#delete3").prop("type", "button");
    }

    if (input1.val() != "" && input2.val() != "" && input3.val() != "") {
        $("#copy").prop('disabled', true);
    }
}
    function calculatePlanPrice(days){
        var coins;
        coins = 0;

        if (days <= 3) {
            coins = 20
        } else if (days > 3 && days <= 7) {
            coins = 40
        } else {
            coins = 80
        }
        var availableCoins= $('#myCoins').text();
        if (coins > availableCoins){
            $("#create_plan").prop('disabled', true);
        }else{
            $("#create_plan").prop('disabled', false);
        }
        $('#tripPrice').empty().append(coins);
    }

     $(function() {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
      });

    $('#form-create').change(function () {
        if (input_city.val() != '' || input_country.val() != '' || input_days.val() != '') {
            $('#create_plan').prop('disabled', false);
        } else {
            $('#create_plan').prop('disabled', true);
        }
    });

    $("form").submit(function (event) {
        //funcion que se lanza al enviar el form
        if (input_city.val() != '' || input_country.val() != '' || input_days.val() != '') {
            var response = confirm('{% trans 'Are you sure that you want to create the plan? You can not recover the coins.'%}');
            if (response == true) {
                whileLoading()
            } else {
                event.preventDefault();
            }
        }
    });

    function whileLoading() {
        swal({
            title: " {% trans "Loading..." %}",
            text: " {%  trans "We are working hard on your plan. It might take a while, please, be patient :)"%}",
            showConfirmButton: false,
            imageUrl: "{% static "img/gears.svg" %}"
        });
    }

</script>

{% endblock %}