{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Plan a trip {% endblock %}
{% block content %}
{% load i18n %}
<div class="container">

    <div class="col-xs-12 col-sm-3 col-md-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-6">
    <h1 class="page-header">{% trans "Plan a trip" %}</h1>
        <form id="form-create" class="form-horizontal" role="form" action="/planner/list_venues/" method="post"
              data-toggle="validator">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_city" class="control-label">{% trans "City" %}</label>
                    <input class="form-control" id="id_city" name="city" type="text"
                           value="{% if form.initial|length != 0 %}{{ form.initial.city }}{% else %}{{ form.data.city }}{% endif %}"
                           required/>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="id_country"
                           class="control-label">{% trans "Country" %}</label>
                    <input class="form-control" id="id_country" name="country" type="text"
                           value="{% if form.initial|length != 0 %}{{ form.initial.country }}{% else %}{{ form.data.country }}{% endif %}"
                           required/>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group {% if form.visible_fields.2.errors %} has-error {% endif %}">
                    <label for="id_startDate"
                           class="control-label">{% trans "Start Date" %}</label>
                    <input pattern="\d\d/\d\d/\d\d\d\d" class="form-control" id="id_startDate" name="startDate" type="text"
                           value="{% if form.initial|length != 0 %}{{ form.initial.startDate }}{% else %}{{ form.data.startDate }}{% endif %}"
                           required/>

                    <div class="help-block with-errors has-error">
                        {{ form.visible_fields.2.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_days"
                           class="control-label">{% trans "Days" %}</label>
                    <input class="form-control" id="id_days" name="days" type="number" min="1" max="7"
                           value="{% if form.initial|length != 0 %}{{ form.initial.days }}{% else %}{{ form.data.days }}{% endif %}"
                           required onchange="calculatePlanPrice(this.value);"/>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group text-center">
                    <h4>{% trans "Price" %} <span id="tripPrice">-</span> {% trans "Coins" %}</h4>
                    <h4>{% trans "You have" %}: <span id="myCoins">{{traveller.coins}}</span> {% trans "coins" %}</h4>
                </div>

                <div class="form-group">
                    <input id="create_plan" class="btn btn-primary btn-block" name="save" value="Create Plan" type="submit" onclick=whileLoading()>
                </div>


            <div class="form-group">
                <label for="selec">Select for your funny TRIP</label>
                <select id="selec" style="display: none;"  class="chosen-select"
                        tabindex="-1">
                    <option value=""></option>
                    <option value="Food">Food</option>
                    <option value="Drink">Drink</option>
                    <option value="Sex">Sex</option>
                    <option value="Alcohol">Alcohol</option>
                </select>

                <label for="cantidad">Selec cantidad</label>
                <select id="cantidad" style="display: none;" class="chosen-select"
                        tabindex="-1">
                    <option value=""></option>
                    <option value="Mucho">Mucho</option>
                    <option value="Poco">Poco</option>
                    <option value="Nada">Nada</option>
                </select>



                <table id="filter" class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans "Filter" %}</th>
                        <th>{% trans "Cantidad" %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr> <input type="hidden" name="name" value="your value"/></tr>
                    </tbody>
                </table>

            <input class="btn btn-primary" id="copy" name="copy" value="Add Restriction"
                   type="button" onclick=copyValues()>
                </div>
    </form>


    </div>
</div>
<script>

{#    function deleteOption() {#}
{#        $('.chosen-select option[value=Food]').remove();#}
{#    }#}

{#   $('.chosen-select option[value=Food]').remove();#}

    function copyValues(){
        var category;
        var rowCustom;
        var cantidad;

        var rowCount = $('#filter').find('tr').length;
        if (rowCount >= 4){
            $("#copy").prop('disabled', true);
            return false;
        }

        cantidad = $("#cantidad").find('option:selected').text();
        category = $("#selec").find('option:selected').text();
        rowCustom = '<tr>'.concat('<td>').concat(category).concat('</td>').concat('<td>').concat(cantidad)
                .concat('</td>').concat('<td><a class="deleteLink" href="" >delete</a></td>').concat('</tr>');

        $('#filter').find('tr:last').after(rowCustom);
    }

    function deleteLast(){
        $('#filter').find('tr:last').remove();
        $("#copy").prop('disabled', false);
    }

    function calculatePlanPrice(days){
        var coins;
        coins = 0;

        if (days <= 3) {
            coins = 20
        } else if (days > 3 && days <= 7) {
            coins = 40
        } else {
            coins = 80
        }
        var availableCoins= $('#myCoins').text();
        if (coins > availableCoins){
            $("#create_plan").prop('disabled', true);
        }else{
            $("#create_plan").prop('disabled', false);
        }
        $('#tripPrice').empty().append(coins);
    }

     $(function() {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
      });


    function whileLoading() {
        swal({
            title: "Loading...",
            text: "We are working hard on your plan. It might take a while, please, be patient :)",
            showConfirmButton: false,
            imageUrl: "{% static "img/gears.svg" %}"
        });
    }

    $(document).ready(function () {
        $('#id_startDate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });

        $('#form-create').change(function(){
            if ($('#id_country').val() == '' || $('#id_city').val() == '' || $('#id_days').val() == '' || $('#id_startDate').val() == '') {
                $('#create_plan').prop('disabled', true);
            }else{
                $('#create_plan').prop('disabled', false);
            }
        });
    });
</script>

{% endblock %}