{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Plan a trip {% endblock %}
{% block content %}
{% load i18n %}
<div class="container">

    <div class="col-xs-12 col-sm-3 col-md-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-6">
    <h1 class="page-header">{% trans "Plan a trip" %}</h1>
        <form id="form-create" class="form-horizontal" role="form" action="/planner/list_venues/" method="post"
              data-toggle="validator">
            {% csrf_token %}
                <div class="form-group">
                    <label for="id_city" class="control-label">{% trans "City" %}</label>
                    <input class="form-control" id="id_city" name="city" type="text"
                           value="{% if form.initial|length != 0 %}{{ form.initial.city }}{% else %}{{ form.data.city }}{% endif %}"
                           required/>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="id_country"
                           class="control-label">{% trans "Country" %}</label>
                    <input class="form-control" id="id_country" name="country" type="text"
                           value="{% if form.initial|length != 0 %}{{ form.initial.country }}{% else %}{{ form.data.country }}{% endif %}"
                           required/>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group {% if form.visible_fields.2.errors %} has-error {% endif %}">
                    <label for="id_startDate"
                           class="control-label">{% trans "Start Date" %}</label>
                    <input pattern="\d\d/\d\d/\d\d\d\d" class="form-control" id="id_startDate" name="startDate" type="text"
                           value="{% if form.initial|length != 0 %}{{ form.initial.startDate }}{% else %}{{ form.data.startDate }}{% endif %}"
                           required/>

                    <div class="help-block with-errors has-error">
                        {{ form.visible_fields.2.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_days"
                           class="control-label">{% trans "Days" %}</label>
                    <input class="form-control" id="id_days" name="days" type="number" min="1" max="7"
                           value="{% if form.initial|length != 0 %}{{ form.initial.days }}{% else %}{{ form.data.days }}{% endif %}"
                           required onchange="calculatePlanPrice(this.value);"/>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group text-center">
                    <h3>{% trans "Price" %} <span id="tripPrice">?</span> {% trans "Coins" %}</h3>
                    <h3>{% trans "My coins" %}: <span id="myCoins">{{traveller.coins}}</span> {% trans "Coins" %}</h3>
                </div>

                <div class="form-group">
                    <input id="create_plan" class="btn btn-primary" name="save" value="Create Plan"
                           type="submit" onclick=whileLoading()>
                </div>
        </form>
    </div>
</div>
<script>
    function calculatePlanPrice(days){
        var coins;
        coins = 0;
        if (days <= 3) {
            coins = 20
        } else if (days > 3 && days <= 7) {
            coins = 40
        } else {
            coins = 80
        }

        $('#tripPrice').empty().append(coins);
    }
</script>
    <script>
        $(document).ready(function () {
            $('#id_startDate').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true
            });
        });
    </script>

{% endblock %}