{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %} {% trans "Get Venues" %} {% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="text-center">
                    <h1>{% trans "Get Venues" %}</h1>

                    <p>{% trans "get venue for load database" %}</p>
                </div>

                <form id="form-create" class="form-horizontal" role="form" action="/planner/list_venues/" method="post"
                      data-toggle="validator">
                    {% csrf_token %}
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <div id="container" class="col-xs-12">
                                <label for="id_city" class="control-label">{% trans "City" %}</label>
                                <input class="form-control" id="id_city" name="city" type="text" required/>

                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <hr>
                                <input id="create_plan" class="btn btn-primary btn-block" name="save"
                                       value="{% trans "Send form" %}" type="submit">

                                <input id="add_city" class="btn btn-primary btn-block"
                                       value="{% trans "Obtaining More Venues" %}" type="button">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            var max_fields = 10; //maximum input boxes allowed
            var wrapper = $("#container"); //Fields wrapper
            var add_button = $("#add_city"); //Add button ID

            var x = 1; //initlal text box count
            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed
                    x++; //text box increment
                    $(wrapper).append('<div><input type="text" name="mytext[]"/><a href="#">Remove</a></div>'); //add input box
                }
            });

            $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
                e.preventDefault();
                $(this).parent('div').remove();
                x--;
            })
        });
    </script>

{% endblock %}
