{% extends 'base.html' %}
{% block title %}Privacy terms{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-justify">
            <h2>Terms of use</h2>
            <p>According to the provisions of Law 15 /1999 of December
				13, Protection of Personal Data (hereinafter LOPD), BrainTravel Co.,
				Inc. NIF 12345678A informs you that the data collected in this web
				site will be incorporated into an automated file registered with the
				data Protection Agency and belong to BrainTravel Co., Inc., with the
				purpose of meeting the requests you sue. Under Article 5 of the law,
				you will be duly informed in detail on our forms of the purpose and
				use of the information provided.</p>
            
            <h3>Information: Data</h3>
            <p>The data provided by you in the documents of the website
				will be processed automatically and will become part of the file
				property of BrainTravel Co., Inc., registered in the Data Protection
				Agency. These data may be used for internal management of business
				contacts requesting information or those with whom a business
				relationship is maintained.</p>
            <p>
               Except in areas where otherwise noted, responses to questions about personal data are voluntary. The victim commits to the accuracy of the data supplied.
            </p>
            <p>In accordance with Article 5 of Law 15/1999 of 13
				December on Protection of Personal Data, you are entitled to access
				this information , rectify it if the data is wrong and unsubscribe
				by a file written request to: Attention LOPD , BrainTravel Co. ,
				Inc. , C / Madrid, 1-41200 (Sevilla) Spain or by
				sending the request to the e-mail address to be
				clientes.braintravel@gmail.com assisted and guided to complete the
				process , fulfilling the notification provided for in Article 5.4 of
				the same.</p>
            
            <h3>Terms of service</h3>
            <ol>
                <li>
                    The user or visitor of the website http://www.traintravel.com is required to read the conditions of the service as detailed in the text, so that it assumes these as valid in the service.
                </li>
                <li>
                    Objectives http://www.traintravel.com website: The website is economically exploited through payments made through PayPal payment gateway.
                </li>
                                
                <li>Conditions of use of the content and services provided on this site:
	                <ul>
	                   <li>No reproduction is permitted of content (any type) http://www.traintravel.com published without the express consent of the author of that web. In this case we talk about text, graphics, source code, and any other content that is served from this website.</li>
	                   <li>On this website there may be third party content. In either case, as is always the intention to respect the rights of copyright and copyright law, if there is any problem regarding minimum any material posted on this website are requested to be contacted via email: clientes.braintravel@gmail.com and the content will be removed (after being checked) with the maximum possible speed, as first intention is respect for copyright and the work of others.</li>
	                   <li>The author of this site is not responsible for the misuse of the content posted on this site (http://www.traintravel.com).</li>
	                   <li>The website http://www.traintravel.com is funded and operated through economically exposed to the same advertising, there being no other kind of economic exploitation.</li>
	                   <li>The author of http://www.traintravel.com is not responsible for the malfunction of the system or service provided on this website, but always seeks and strives to offer the best service.</li>
	                   <li>The author of the website http://www.traintravel.com use it as an advertising medium and is not responsible for the bad service or problems arising from the advertised services so that advertising and services they refer to this post are the sole responsibility of the advertiser.</li>
	                   <li>On this website (http://www.traintravel.com) there are NO illegal content (child pornography, justifying terrorism or any other illegal content).</li>
	                </ul>
                </li>
				
			</ol>
            <p>
               For any problem with it, they should contact the email (clientes.braintravel@gmail.com) or phone:
            </p>
            <p>
                SEVILLA Tel: +34 955555555 
            </p>
        </div>
    </div>
</div>
{% endblock %}