{% extends 'base.html' %}
{% block title %} Cookies policies {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align: center">T&eacute;rminos y condiciones</h1>
            <p>
                De acuerdo con las disposiciones de la Ley 15/1999, de 13 de Diciembre, de Protecci&oacute;n de

                Datos de Car&aacute;cter Personal, (en adelante, LOPD), BrainTravel Co., Inc. NIF 12345678A le

                informa que los datos recogidos en este sitio web ser&aacute;n incorporados a un fichero

                automatizado inscrito ante la Agencia de Protecci&oacute;n de Datos y pertenecen a BrainTravel Co.,

                Inc., teniendo como finalidad la de atender las peticiones que usted demande. En virtud del

                art&iacute;culo 5 de la citada ley, usted ser&aacute; debidamente informado con todo detalle en nuestros

                formularios de la finalidad y uso de los datos que proporcione.
            </p>
            <h2>Informaci&oacute;n: Alta de Datos</h2>
            <p>
                Los datos facilitados por Usted en los documentos del sitio web, ser&aacute;n objeto de tratamiento

                automatizado y pasar&aacute;n a formar parte del fichero propiedad de BrainTravel Co., Inc.,  inscrito

                en la Agencia de Protecci&oacute;n de Datos. Estos datos podr&aacute;n ser utilizados para la gesti&oacute;n interna

                de los contactos comerciales que solicitan informaci&oacute;n o con aquellos con los que se mantiene

                una relaci&oacute;n comercial.
            </p>
            <p>
                Salvo en los campos que se indique lo contrario, las respuestas a las preguntas sobre sus datos

                personales son voluntarias. El afectado se compromete a la veracidad de los datos que

                suministra.
            </p>
            <p>
                De conformidad con el art&iacute;culo 5 de la Ley 15/1999, de 13 de diciembre de Protecci&oacute;n de Datos

                de Car&aacute;cter Personal, Ud. tiene derecho a acceder a esta informaci&oacute;n, a rectificarla si los datos

                son err&oacute;neos y darse de baja del fichero mediante una solicitud escrita a: Atenci&oacute;n LOPD,

                BrainTravel Co., Inc., C/ Madrid, 1 - 41200 Alcal&aacute; del R&iacute;o (Sevilla) Espa&ntilde;a, o bien, enviando

                dicha solicitud a la direcci&oacute;n de correo electr&oacute;nico <a href="mailto:clientes.braintravel@gmail.com">clientes.braintravel@gmail.com</a> para ser

                atendido y guiado para cumplimentar el proceso, cumpli&eacute;ndose as&iacute; la notificaci&oacute;n prevista en

                el art&iacute;culo 5.4 de la misma.
            </p>
            <h2>Condiciones del servicio</h2>
            <ol>
                <li>
                    El usuario o visitante de la p&aacute;gina web <a href="http://www.braintravel.com">http://www.braintravel.com</a> tiene la obligaci&oacute;n
                    leer las condiciones de prestaci&oacute;n del servicio que se detallan en este texto, de manera que
                    asume estas como v&aacute;lidas en la prestaci&oacute;n del servicio.
                </li>
                <li>
                    Objetivos de la p&aacute;gina web http://www.braintravel.com: La p&aacute;gina web es
                    econ&oacute;micamente a trav&eacute;s de los pagos que se realizan a trav&eacute;s de la pasarela de pago PayPal.
                </li>
                <li>
                    Condiciones de uso del contenido y servicios prestados en esta p&aacute;gina web:
                </li>
                    <ul>
                        <li>
                            No est&aacute; permitida la reproducci&oacute;n de los contenidos (de cualquier tipo) publicados

                            en <a href="http://www.braintravel.com">http://www.braintravel.com</a> sin el consentimiento expreso del autor de dicha web. En este

                            caso hablamos de textos, gr&aacute;ficos, c&oacute;digo fuente, y cualquier otro contenido que sea servido

                            desde esta p&aacute;gina web.
                        </li>
                        <li>
                            En esta p&aacute;gina web pueden existir contenidos de terceros. En cualquiera de los casos, y

                            como es intenci&oacute;n siempre el respetar los derechos de autor y las leyes del copyright, si

                            hubiera cualquier m&iacute;nimo problema respecto a cualquier material publicado en esta web, se

                            ruega que se pongan en contacto a trav&eacute;s del email: <a href="mailto:clientes.braintravel@gmail.com">clientes.braintravel@gmail.com</a> y el

                            contenido ser&aacute; retirado (tras ser comprobado) con la m&aacute;xima celeridad posible, ya que es

                            intenci&oacute;n primera el respeto por los derechos de autor y el trabajo ajeno.
                        </li>
                        <li>
                            El autor de esta web no se hace responsable del mal uso que se haga del contenido

                            expuesto en esta p&aacute;gina web (<a href="http://www.braintravel.com">http://www.braintravel.com</a>).
                        </li>
                        <li>
                            La p&aacute;gina web <a href="http://www.braintravel.com">http://www.braintravel.com</a> es financiada y explotada

                            trav&eacute;s de la publicidad expuesta en la misma, no existiendo ning&uacute;n otro tipo de explotaci&oacute;n

                            econ&oacute;mica.
                        </li>
                        <li>
                          El autor de <a href="http://www.braintravel.com">http://www.braintravel.com</a> no se hace responsable del

                          del sistema o servicio prestado en esta p&aacute;gina web, aunque siempre se pretende y trabaja para

                          ofrecer el mejor servicio.
                        </li>
                        <li>
                            El autor de la p&aacute;gina web <a href="http://www.braintravel.com">http://www.braintravel.com</a> utiliza la misma

                            publicitario y no se hace responsable del mal servicio o problemas surgidos por los servicios

                            anunciados, de forma que la publicidad y los servicios posteriores que esta remita son

                            responsabilidad &uacute;nica del anunciante.
                        </li>
                        <li>
                            En esta p&aacute;gina web (<a href="http://www.braintravel.com">http://www.braintravel.com</a>) NO existen contenidos ilegales

                            (pornograf&iacute;a infantil, apolog&iacute;a del terrorismo, o cualquier otro tipo de contenido ilegal).
                        </li>
                    </ul>
            </ol>
            <p>
                Para cualquier problema al respecto, deben ponerse en contacto con la direcci&oacute;n de correo

                electr&oacute;nico <a href="mailto:clientes.braintravel@gmail.com">clientes.braintravel@gmail.com</a>o tel&eacute;fonos:
            </p>
            <p>
                SEVILLA Telf.: +34 955555555 Fax:+34
            </p>
        </div>
    </div>
</div>
{% endblock %}