{% extends 'base.html' %}
{% block title %}Privacy terms{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-justify">
            <h2>T&eacuterminos y condiciones</h2>
            <p>De acuerdo con las disposiciones de la Ley 15/1999, de 13 de Diciembre, de Protecci&oacuten de Datos de
                Car&aacutecter Personal, (en adelante, LOPD), BrainTravel Co., Inc. NIF 12345678A le informa que los datos
                recogidos en este sitio web ser&aacuten incorporados a un fichero automatizado inscrito ante la Agencia de
                Protecci&oacuten de Datos y pertenecen a BrainTravel Co., Inc., teniendo como finalidad la de atender las
                peticiones que usted demande. En virtud del art&iacuteculo 5 de la citada ley, usted ser&aacute debidamente
                informado con todo detalle en nuestros formularios de la finalidad y uso de los datos
                que proporcione.</p>

            <h3>Informaci&oacuten: Alta de Datos</h3>
            <p>Los datos facilitados por Usted en los documentos del sitio web, ser&aacuten objeto de tratamiento
                automatizado y pasar&aacuten a formar parte del fichero propiedad de BrainTravel Co., Inc., inscrito en la
                Agencia de Protecci&oacuten de Datos. Estos datos podr&aacuten ser utilizados para la gesti&oacuten interna de los
                contactos comerciales que solicitan informaci&oacuten o con aquellos con los que se mantiene una relaci&oacuten
                comercial.</p>
            <p>
               Salvo en los campos que se indique lo contrario, las respuestas a las preguntas sobre sus datos
                personales son voluntarias. El afectado se compromete a la veracidad de los datos que suministra.
            </p>
            <p>De conformidad con el art&iacuteculo 5 de la Ley 15/1999, de 13 de diciembre de Protecci&oacuten de Datos de
                Car&aacutecter Personal, Ud. tiene derecho a acceder a esta informaci&oacuten, a rectificarla si los datos son
                err&oacuteneos y darse de baja del fichero mediante una solicitud escrita a: Atenci&oacuten LOPD, BrainTravel
                Co., Inc., C/ Madrid, 1 - 41200 (Sevilla) España, o bien, enviando dicha solicitud a la direcci&oacuten de
                correo electr&oacutenico </a>clientes.braintravel@gmail.com <span class="p">para ser atendido y guiado para
                cumplimentar el proceso, cumpli&eacutendose as&iacute la notificaci&oacuten prevista en el art&iacuteculo 5.4 de la
                misma.</span></p>

            <h3>Condiciones del servicio</h3>
            <ol>
                <li>
                    El usuario o visitante de la p&aacutegina web </a>http://www.braintravel.com tiene la obligaci&oacuten de leer
                    las condiciones de prestaci&oacuten del servicio que se detallan en este texto, de manera que asume
                    estas como v&aacutelidas en la prestaci&oacuten del servicio.
                </li>
                <li>
                    Objetivos  de  la  p&aacutegina  web http://www.braintravel.com:  La  p&aacutegina  web  es  explotada
                    econ&oacutemicamente a trav&eacutes de los pagos que se realizan a trav&eacutes de la pasarela de pago  PayPal.
                </li>

                <li>Condiciones de uso del contenido y servicios prestados en esta p&aacutegina web:
	                <ul>
	                   <li>No est&aacute permitida la reproducci&oacuten de los contenidos (de cualquier tipo) publicados en
                           http://www.braintravel.com sin el consentimiento expreso del autor de dicha web. En este
                           caso hablamos de textos, gr&aacuteficos, c&oacutedigo fuente, y cualquier otro contenido que sea
                           servido desde esta p&aacutegina web.
                       </li>
	                   <li>En esta p&aacutegina web pueden existir contenidos de terceros. En cualquiera de los casos, y
                           como es intenci&oacuten siempre el respetar los derechos de autor y las leyes del copyright, si
                           hubiera cualquier m&iacutenimo problema respecto a cualquier material publicado en esta web, se
                           ruega que se pongan en contacto a trav&eacutes del email: clientes.braintravel@gmail.com
                           y el contenido ser&aacute retirado (tras ser comprobado) con la m&aacutexima celeridad
                           posible, ya que es intenci&oacuten primera el respeto por los derechos de autor y el trabajo
                           ajeno.
                       </li>
	                   <li>El autor de esta web no se hace responsable del mal uso que se haga del contenido expuesto
                           en esta p&aacutegina web (<i>http://www.braintravel.com</i>).
                       </li>
	                   <li>La p&aacutegina web http://www.braintravel.com es financiada y explotada
                           econ&oacutemicamente a trav&eacutes de la publicidad expuesta en la misma, no existiendo ning&uacuten otro
                           tipo de explotaci&oacuten econ&oacutemica.
                       </li>
	                   <li>El autor de http://www.braintravel.com no se hace responsable del mal
                           funcionamiento del sistema o servicio prestado en esta p&aacutegina web, aunque siempre se
                           pretende y trabaja para ofrecer el mejor servicio.
                       </li>
	                   <li>El autor de la p&aacutegina web http://www.braintravel.com utiliza la
                           misma como soporte publicitario y no se hace responsable del mal servicio o problemas
                           surgidos por los servicios anunciados, de forma que la publicidad y los servicios
                           posteriores que esta remita son responsabilidad &uacutenica del anunciante.
                       </li>
	                   <li>En esta p&aacutegina web (<i>http://www.braintravel.com</i>) NO existen contenidos ilegales
                           (pornograf&iacutea infantil, apolog&iacutea del terrorismo, o cualquier otro tipo de
                           contenido ilegal).
                       </li>
	                </ul>
                </li>

			</ol>
            <p>
               Para cualquier problema al respecto, deben ponerse en contacto con la direcci&oacuten de correo electr&oacutenico
               clientes.braintravel@gmail.com o tel&eacutefonos:
            </p>
            <p>
                SEVILLA Tel: +34 955555555
            </p>
        </div>
    </div>
</div>
{% endblock %}