{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="/static/img/bg_profile.png" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail img-circle" src="/{{traveller.photo}}" alt="{{traveller.first_name}}"/>
        <div class="fb-profile-text">
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <h1>
                        {{traveller.first_name}} {{traveller.last_name}}
                        {% if traveller.id == user.traveller.id %}
                            <div class="btn-group">
                                <a class="btn btn-block" data-toggle="dropdown" href="#">
                                    <span class="fa fa-gear fa-2x"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/profile/edit/"><span class="icon-wrench"></span> Modify profile</a></li>
                                    <li><a href="/profile/edit/password/"><span class="icon-trash"></span> Change password</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </h1>
                    <h4>{{traveller.email}}</h4>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    {% if traveller.reputation != None %}
                        <h2><span class="fa fa-star fa-lg"> {{ traveller.reputation }}/10</span></h2>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    {% if traveller.id == user.traveller.id %}
                    <h2><strong> <i class="fa fa-paypal"></i> {{payments}} </strong></h2>
                    <p><small>Payments</small></p>
                    <a href="/payment" class="btn btn-info btn-block"><span class="fa fa-plus-circle"></span> My payments </a>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-4">
                    {% if traveller.id == user.traveller.id %}
                    <h2><strong> <i class="fa fa-money"></i> {{traveller.coins}} </strong></h2>
                    <p><small>Coins</small></p>
                    <button class="btn btn-info btn-block" onclick="window.location.href='/coin/list/'">View coin movements</button>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h2><strong><i class="fa fa-globe"></i> {{ trips }}</strong></h2>
                    <p><small>Trips</small></p>
                    {% if traveller.id == user.traveller.id %}
                        <button class="btn btn-info btn-block" onclick="window.location.href='/trip/mylist/'">View my trips</button>
                    {% else %}
                        <button class="btn btn-info btn-block" onclick="window.location.href='/trip/list/{{ traveller.id }}'">Trips published by {{traveller.first_name}}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}