{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Edit profile" %} {% endblock %}
{% block content %}

<div class="container">
    <h1>{% trans "Edit Profile" %}</h1>
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% if  form.visible_fields.0.errors%}
                <strong>{% trans "First name" %}</strong>
                {{ form.visible_fields.0.errors }}
            {% endif %}
            {% if  form.visible_fields.1.errors%}
                <strong>{% trans "Last name" %}/strong>
                {{ form.visible_fields.1.errors }}
            {% endif %}
            {% if  form.visible_fields.2.errors%}
                <strong>{% trans "Genre" %}</strong>
                {{ form.visible_fields.2.errors }}
            {% endif %}
            {% if  form.visible_fields.3.errors or form.visible_fields.4.errors %}
                <strong>{% trans "Photo" %}</strong>
                {{ form.visible_fields.3.errors }}
                {{ form.visible_fields.4.errors }}
            {% endif %}
        </div>
    {% endif %}
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">

        <div class="row">
            <form class="form-horizontal" role="form" action="/profile/edit/" method="post" data-toggle="validator"  enctype="multipart/form-data">
                {% csrf_token %}
                <!-- left column -->
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <div class="form-group">
                        <div class="text-center ">
                            <img src="/{{ photo_profile }}" alt="" class="center-block img-circle img-thumbnail img-responsive" width="188">
                        </div>
                        <label for="id_photo" class="control-label"></label>
                        <div>
                            {{ form.visible_fields.4 }} <label for="id_photo_clear">{% trans "Default image" %}</label>
                            {{ form.visible_fields.3 }}
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <!-- edit form column -->
                <div class="col-xs-12 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-6">
                        <div class="form-group">
                            <label for="id_first_name" class="control-label">{% trans "First name" %}:</label>
                            {{ form.visible_fields.0 }}
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="id_last_name" class="control-label">{% trans "Last name" %}:</label>
                            {{ form.visible_fields.1 }}
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="id_genre" class="control-label">{% trans "Genre" %}:</label>
                            {{ form.visible_fields.2 }}
                            <div class="help-block with-errors"></div>
                        </div>
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                        <div class="form-group">
                            <input class="btn btn-primary" value="Save Changes" type="submit">
                            <span></span>
                            <a href="/profile/{{ form.id.value }}" class="btn btn-default">{% trans "Cancel" %}</a>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}