{% extends 'base.html' %}
{% block title %} Change password {% endblock %}
{% block content %}
<form data-toggle="validator" role="form" action="/profile/edit/password/" method="post">
    {% csrf_token %}

    {% for field in form.visible_fields %}
        <div id="div_{{ field.html_name }}" class="col-xs-6col-md-6 form-group{% if field.errors %} has-error{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            <div class="text-muted pull-right">
                <small>{{ field.help_text }}</small>
            </div>
            <div class="help-block">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div class="form-group">
        <input type="submit" value="Change" class="btn btn-primary"/>
    </div>
</form>
{%endblock%}