{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>{{trip.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 animated fadeInUp">
        <div class="media well">
            <div class="row">
                <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 text-center">
                    <div>
                        <img class="avatar img-circle img-thumbnail" src="/static/user_folder/{{trip.traveller.photo}}" width="64" alt="Generic placeholder image">
                        <strong>
                        <br>
                            <a href="user.html">{{trip.traveller}}</a></strong><br>
                        <i class="fa fa-star"></i> {{ trip.traveller.reputation }} / 10<br>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
                    <div class="media-body">
                        <blockquote>{{trip.publishedDescription|safe}}</blockquote>
                        {% if traveller_edit %}
                            <a href="/Trip/edit/{{trip.scorable_ptr_id}}"><i class="fa fa-info-circle"></i> Edit</a>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
    
    <div class="timeline-centered">
	    {% if not perms.administrator and not user.is_anonymous %}
	        <article class="timeline-entry entry">
	            <div class="timeline-entry-inner">
	                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
	                    <i class="entypo-flight" style="text-decoration: None"></i> +
	                </div>
	                <div class="timeline-label">
	                    <form class="form" method="post" action="comment/" id="form-comment-id">
	                        {% csrf_token %}
	                        <div class="form-group">
	                            <textarea id="text-comment" class="form-control input-block-level" name="text-comment" rows="3" style="resize: none;"></textarea>
	                        </div>
	                        <div class="form-group text-right">
	                            <button id="submit-comment" type="submit" class="btn btn-success">Send</button>
	                            <input type="hidden" name="trip-id" value="{{trip.id}}"/>
	                            <input type="hidden" name="last-path" value="{{ request.path }}"/>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </article>
	        {% endif %}
	        
	        {% for comment in comments %}
	            {% if comments.last %}
	                <article class="timeline-entry begin">
	                    <div class="timeline-entry-inner">
	                        <div class="timeline-icon">
	                            <img class="img-circle" style="width: 40px; height: 40px;" src="/static/user_folder/{{ comment.traveller.photo }}">
	                        </div>
	                        <div class="timeline-label">
	                            <h2><a href="#">{{comment.traveller}} says:</a></h2>
	                            <br>
	                            <i class="fa fa-quote-left fa-1x pull-left"></i>
	                            {{comment.description|safe}}
	                        </div>
	                    </div>
	                </article>
	            {% else %}
		            <article class="timeline-entry">
		                <div class="timeline-entry-inner">
		                    <div class="timeline-icon bg-success">
		                        <i class="entypo-suitcase"></i>
		                        <img class="img-circle" style="width: 40px; height: 40px;" src="/static/user_folder/{{ comment.traveller.photo }}">
		                    </div>
		                    <div class="timeline-label">
		                        <h2><a href="#">{{comment.traveller}} says:</a></h2>
		                        <br>
		                        <i class="fa fa-quote-left fa-1x pull-left"></i>
		                        {{comment.description|safe}}
		                    </div>
		                </div>
		            </article>
	            {% endif %}
	        {% endfor %}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="well">
                <i class="fa fa-globe fa-2x"> {{ trip.city }}, {{ trip.contry }}</i>
                <br>
                <br>
                <i class="fa fa-calendar fa-2x"> {{ trip.startDate }}</i>
                <br>
                <br>
                <i class="fa fa-calendar-o fa-2x"> {{ trip.endDate }}</i>
            </div>
            <div class="well">
                <a class="fa fa-star fa-2x text-left" data-toggle="modal" style="text-decoration: None" data-target="#myModal"> <small>{% firstof trip.rating '-' %}</small> / <strong>10</strong></a>
                <br>
                <br>
                {% if user.is_anonymous or perm.administrator %}
                    <i class="fa fa-thumbs-o-up fa-2x text-left"> {{trip.likes}} likes</i>
                    <br>
                    <br>
                    <i class="fa fa-thumbs-o-down fa-2x text-right"> {{trip.dislikes}} dislikes</i>
                {% endif %}

                {% if perms.traveller %}
                    {% if judge == None %}
                        <a href="/judge/{{trip.scorable_ptr_id}}/1">
                            <i class="fa fa-thumbs-o-up fa-2x text-left"> {{trip.likes}} likes</i>
                        </a>
                        <br>
                        <br>
                        <a href="/judge/{{trip.scorable_ptr_id}}/0">
                            <i class="fa fa-thumbs-o-down fa-2x text-right"> {{trip.dislikes}} dislikes</i>
                        </a>
                        <br>
                        <br>
                    {% elif judge.like == True %}
                        <a href="/judge/{{trip.scorable_ptr_id}}/1">
                            <i class="fa fa-thumbs-up fa-2x text-left"> {{trip.likes}} likes</i>
                        </a>
                        <br>
                        <br>
                        <a href="/judge/{{trip.scorable_ptr_id}}/0">
                            <i class="fa fa-thumbs-o-down fa-2x text-right"> {{trip.dislikes}} dislikes</i>
                        </a>
                    {% else %}
                        <a href="/judge/{{trip.scorable_ptr_id}}/1">
                            <i class="fa fa-thumbs-o-up fa-2x text-left"> {{trip.likes}} likes</i>
                        </a>
                        <br>
                        <br>
                        <a href="/judge/{{trip.scorable_ptr_id}}/0">
                            <i class="fa fa-thumbs-down fa-2x text-right"> {{trip.dislikes}} dislikes</i>
                        </a>
                        <br>
                        <br>
                    {% endif %}
                {% endif %}
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Rate this trip</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form" method="post" action="rate/" id="form-rate-id">
                        {% csrf_token %}
                        <div class="form-group">
                            <p>Please choose a number between 0 and 10:</p>
                            <input type="number" name="rate-value" min="0" max="10" required/>
                            <p>Please, write a fancy description:</p>
                            <textarea id="text-comment" class="form-control input-block-level" name="text-rate-description" rows="3" required maxlength="255" style="resize: none;"></textarea>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button id="submit-comment" type="submit" class="btn btn-success">Send</button>
                                <input type="hidden" name="trip-id" value="{{trip.id}}"/>
                            </div>
                         </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="well">
            {% if perms.administrator %}
                <form id="stateSelectForm" action="/administrator/trip/update/" method="post" class="well">
                    {% csrf_token %}
		            <h3>Trip moderation</h3>
                    <p>Select an option and click save to change the trip status.</p>
                    
                    <input type="hidden" name="id" value="{{trip.scorable_ptr_id}}"/>
                        <select name="state" id="state" class="form-control">
                            <option value="ap" {% if trip.state == "ap" %} selected="selected" {% endif %} >APPROVED</option>
		                    <option value="re"  {% if trip.state == "re" %} selected="selected" {% endif %}>REJECTED</option>
		                    <option value="pe" {% if trip.state == "pe" %}selected="selected" {% endif %}>PENDING</option>
		                </select>
		                <br>
		                <button type="submit" name="save" value="save" onclick="return confirm('Are you sure?')" class="btn btn-block btn-danger">Save</button>
		                </form>
	                </div>
	            
            {% endif %}
        </div>
    </div>
{% endblock %}