{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Details" %} {% endblock %}
{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/timeline.css" %}">   
{% endblock %}
{% block content %}
    
<div class="container">
    <h1>{{trip.name}}</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="media well">
                <div class="row">
                    <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 text-center">
                        <div>
                            <img class="avatar img-circle img-thumbnail" src="/{{trip.traveller.photo}}" width="64" title="{{trip.traveller.first_name}}">
                            <p>
                                <strong><a href="/profile/{{trip.traveller.id}}">{{trip.traveller}}</a></strong>
                                
                                <br><i class="fa fa-star"></i>
                                
                                {% firstof trip.traveller.reputation '-'%} / 10
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
                        <div class="text-justify media-body">
                            <blockquote>
                                <p class="text-right"><i class="fa fa-globe fa"></i>  {{ trip.city }}, {{ trip.country }}</p>
                                <p><i class="fa fa-calendar fa"></i>  {{ trip.startDate }} - {{ trip.endDate }}</p>
                                <p>{{trip.publishedDescription|safe}}</p>
                                <ul class="list-inline list-unstyled">
                                    {% if user.is_anonymous or perms.principal.administrator or trip.state != 'ap' or trip.traveller.id == user.id%}
                                        <li><i class="fa fa-thumbs-o-up fa"></i> {{trip.likes}}</li>
                                        <li>|</li>
                                        <li><i class="fa fa-thumbs-o-down fa"></i> {{trip.dislikes}}</li>
                                        <li>|</li>
                                    {% endif %}
                                    {% if perms.principal.traveller and trip.state == 'ap' and trip.traveller.id != user.id %}
                                        {% if judge == None %}
                                            <li><a href="/judge/{{trip.scorable_ptr_id}}/1" style="text-decoration: None"><i class="fa fa-thumbs-o-up fa"></i> {{trip.likes}}</a></li>
                                            <li>|</li>
                                            <li><a href="/judge/{{trip.scorable_ptr_id}}/0" style="text-decoration: None"><i class="fa fa-thumbs-o-down fa"></i> {{trip.dislikes}}</a></li>
                                        {% elif judge.like == True %}
                                            <li><i class="fa fa-thumbs-o-up fa"></i> {{trip.likes}}</li>
                                            <li>|</li>
                                            <li><a href="/judge/{{trip.scorable_ptr_id}}/0" style="text-decoration: None"><i class="fa fa-thumbs-o-down fa"></i> {{trip.dislikes}}</a></li>
                                        {% else %}
                                            <li><a href="/judge/{{trip.scorable_ptr_id}}/1" style="text-decoration: None"><i class="fa fa-thumbs-o-up fa"></i> {{trip.likes}}</a></li>
                                            <li>|</li>
                                            <li><i class="fa fa-thumbs-down fa"></i> {{trip.dislikes}}</li>
                                        {% endif %}
                                        <li>|</li>
                                    {% endif %}
                                    {% if assessment == None %}
                                        <li><i class="fa fa-star-o fa"  style="text-decoration: None"></i> {% firstof trip.rating '-' %} / <strong>10</strong></li>
                                    {% else %}
                                        <li><i class="fa fa-star fa"  style="text-decoration: None"></i> {% firstof trip.rating '-' %} / <strong>10</strong></li>
                                    {% endif %}
                                </ul>
                                {% if user.traveller.id == trip.traveller.id %}
                                    <p><br><a href="/trip/edit/{{trip.scorable_ptr_id}}" data-toggle="tooltip" data-placement="bottom" title="{% trans "Click here to edit" %}"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a></p>
                                    <p><a href="/assessment/list/{{trip.scorable_ptr_id}}" data-toggle="tooltip" data-placement="bottom" title="{% trans "Click here to view details" %}"><i class="fa fa-list"></i> {% trans "Assessments" %}</a></p>
                                {% endif %}
                                {% if perms.principal.traveller and trip.state == 'ap' and trip.traveller.id != user.id and assessment == None%}
                                    <div class="center-block">
                                        <button style="width: 100%;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">{% trans "Rate this trip!" %}</button>
                                    </div>
                                {% endif %}
                            </blockquote>
                            {% if perms.principal.administrator %}
                                <div class="well">
                                    <h3>{% trans "Trip moderation" %}</h3>
                                    <p>{% trans "Select an option and click save to change the trip status." %}</p>
                                    <form class="form-horizontal" role="form" action="/administrator/trip/update/{{ trip.id }}" method="post" data-toggle="validator">
                                        {% csrf_token %}
                                        <div class="form-group {% if form.visible_fields.0.errors %} has-error {% endif %}">
                                            {{ form.visible_fields.0 }}
                                            <div class="help-block with-errors">
                                                {{ form.visible_fields.0.errors }}
                                            </div>
                                        </div>clear
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <button type="submit" name="save" value="save" onclick="return confirm({% trans "Are you sure?" %})" class="btn btn-block btn-danger">{% trans "Save" %}</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-centered">
                {% if not perms.principal.administrator and not user.is_anonymous %}
                    <article class="timeline-entry entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon">
                                <img class="img-circle" style="width: 40px; height: 40px;" src="/{{ user.traveller.photo }}">
                            </div>
                            <div class="timeline-label">
                                <form class="form" role="form" method="post" action="/public_trip_details/{{trip.id}}" id="form-comment-id" data-toggle="validator">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ comment_form.visible_fields.0 }}
                                        <div class="help-block with-errors">
                                            {% if comment_form.errors %}
                                                <div class="alert alert-danger alert-dismissible col-xs-12 col-sm-12 col-md-12 col-lg-12" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    {% if  comment_form.visible_fields.0.errors %}
                                                        {{ comment_form.visible_fields.0.errors }}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% for hidden in comment_form.hidden_fields %}{{ hidden }}{% endfor %}
                                    <div class="form-group text-right">
                                        <input class="btn btn-success" value={% trans "Comment"%}  name="comment_name" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>
                {% endif %}
                {% for comment in comments %}
                    {% if comments.last %}
                        <article class="timeline-entry begin">
                            <div class="timeline-entry-inner">
                                <div class="timeline-icon">
                                    <a href="/profile/{{comment.traveller.id}}"><img class="img-circle" style="width: 40px; height: 40px;" src="/{{ comment.traveller.photo }}"></a>
                                </div>
                                <div class="timeline-label">
                                     <div class="row">
                                        <div class="col-xs-6 col-ms-6 col-md-6 col-lg-6">
                                            <h2>{{comment.traveller}} {% trans "says:" %}</h2>
                                        </div>
                                        <div class="col-xs-6 col-ms-6 col-md-6 col-lg-6 text-right">
                                            <p>{{comment.date}}</p>
                                        </div>
                                    </div>
                                    <!--<br>-->
                                    <i class="fa fa-quote-left fa-1x pull-left"></i>
                                    {{comment.description|safe}}
                                </div>
                            </div>
                        </article>
                    {% else %}
                        <article class="timeline-entry">
                            <div class="timeline-entry-inner">
                                <div class="timeline-icon bg-success">
                                    <i class="entypo-suitcase"></i>
                                    <a href="/profile/{{comment.traveller.id}}"><img class="img-circle" style="width: 40px; height: 40px;" src="/{{ comment.traveller.photo }}"></a>
                                </div>
                                <div class="timeline-label">
                                    <div class="row">
                                        <div class="col-xs-6 col-ms-6 col-md-6 col-lg-6">
                                            <h2>{{comment.traveller}} {% trans "says:" %}</h2>
                                        </div>
                                        <div class="col-xs-6 col-ms-6 col-md-6 col-lg-6 text-right">
                                            <p>{{comment.date}}</p>
                                        </div>
                                    </div>
                                    <!--<br>-->
                                    <i class="fa fa-quote-left fa-1x pull-left"></i>
                                    {{comment.description|safe}}
                                </div>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
            {% if comments %}
                <nav class="col-xs-12">
	              <ul class="pager">
	                <li {% if not comments.has_previous %} class="disabled" {% endif %}>
	                  <a {% if comments.has_previous %} href="?page={{ comments.previous_page_number }}" {% endif %}><span aria-hidden="true">&laquo;</span></a>
	                </li>
	                
	                <li>
	                 <span>{% trans "Page" %} {{ comments.number }} {% trans "of" %} {{ comments.paginator.num_pages }}</span>
	                </li>
	                
	                <li {% if not comments.has_next %} class="disabled" {% endif %}>
	                    <a {% if comments.has_next %} href="?page={{ comments.next_page_number }}" {% endif %}><span aria-hidden="true" class="disabled" >&raquo;</span></a>  
	                </li>
	              </ul>
	            </nav>        

            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-bt">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Rate this trip</h4>
                </div>
                <div class="modal-body">
                    {% if assessment_form.errors %}
                        <div class="alert alert-danger alert-dismissible col-xs-12 col-sm-12 col-md-12 col-lg-12" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {% if  assessment_form.visible_fields.0.errors%}
                                <strong>Score</strong>
                                {{ assessment_form.visible_fields.0.errors }}
                            {% endif %}
                            {% if  assessment_form.visible_fields.1.errors%}
                                <strong>Description</strong>
                                {{ assessment_form.visible_fields.1.errors }}
                            {% endif %}
                        </div>
                    {% endif %}

                    <form class="form" method="post" action="/public_trip_details/{{trip.id}}" id="form-rate-id" data-toggle="validator">
                        {% csrf_token %}
                        <div class="form-group">
                            <p>{% trans "Please choose a number between 0 and 10:" %}</p>
                            {{ assessment_form.visible_fields.0 }}
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <p>{% trans "Please, write a fancy description:" %}</p>
                            {{ assessment_form.visible_fields.1 }}
                            <div class="help-block with-errors"></div>
                        </div>
                        {% for hidden in assessment_form.hidden_fields %}{{ hidden }}{% endfor %}
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                                <input class="btn btn-success" name="assessment_name" value='{% trans "Send" %}' type="submit">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% if modal %}
<script>$('#myModal').modal('show');</script>
{% endif %}

<script>

    $(function() {
    	$('[data-toggle="tooltip"]').tooltip();
 	});

    </script>

{% endblock %}

