{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form action="/search_trip/" method="get">
                {% csrf_token %}
              <input id="input-search" type="text" name="title" placeholder="Type to search" autofocus>
            </form>
        </div>
    </div>
    <br/>
    <hr/>
    {% if not trip_result %}
    <p>We couldn't find anything...</p>
    {% endif %}

    {% for trip in trip_result %}
        <div class="well animated fadeInUp">
            <div class="media">
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-lg-2 col-xs-12 text-center">
                        <a href="#">
                            <img class="img-rounded" src="/{{trip.traveller.photo}}">
                        </a>
                    </div>
                    <div class="col-md-10 col-sm-9 col-lg-10 col-xs-12">
                        <div class="media-body">
                            <h3 class="media-heading text-center">{{trip.name}}</h3>
                            <p class="text-right">By {{trip.traveller}}</p>
                            <p>{{trip.publishedDescription|safe}}</p>
                            <ul class="list-inline list-unstyled">
                                <li><span><i class="fa fa-calendar"></i> {{trip.startDate}} - {{trip.endDate}}</span></li>
                                </ul>
                                <ul class="list-inline list-unstyled">
                                <li><span> {{trip.comment_set.all.count}} <i class="fa fa-comments"></i></span></li>
                                <li>|</li>
                                <li><a href="#" style="text-decoration: None;"><i class="fa fa-thumbs-o-up"></i> {{trip.likes}}</a></li>
                                <li>|</li>
                                <li><a href="#" style="text-decoration: None;"><i class="fa fa-thumbs-o-down"></i> {{trip.dislikes}}</a></li>
                                <li>|</li>
                                <li><a href="/public_trip_details/{{trip.scorable_ptr_id}}" style="text-decoration: None;"><i class="fa fa-info-circle"></i> View more</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{%endblock%}