{% extends 'base.html' %}
{% block title %} Sign in {% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="login-container">
            <div class="form-box-login">
                <form action="" method="">
                    <input type="text" placeholder="username" required>
                    <input type="password" placeholder="password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                    <hr/>
                    <span>Don't have an account? <a href="#">Create one now</a></span>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}