{% extends 'base.html' %}
{% block title %} Sign in {% endblock %}
{% block content %}
{% load i18n %}

<div class="container-fluid">

    <div class="omb_login col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form id="siginForm" class="omb_loginForm" action="/signin/" autocomplete="off" method="POST" role="form" data-toggle="validator">
            <div class="omb_authTitle">
                <p>{% trans "Login" %}</p>
                <p class="small">{% trans "Don't have an account yet?" %}<a href="#" data-toggle="modal" data-target="#registerModal"> {% trans "Sign up" %}</a></p>
            </div>
            <div>
                
            </div>
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible col-xs-12 col-sm-12 col-md-12 col-lg-12" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if  form.visible_fields.0.errors %}
                        <strong>Email</strong>
                        {{ form.visible_fields.0.errors }}
                    {% endif %}
                    {% if  form.visible_fields.1.errors %}
                        <strong>Password</strong>
                        {{ form.visible_fields.1.errors }}
                    {% endif %}
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="fa fa-envelope"></span>
                    </div>
                    <!--<input type="email" class="form-control" data-error="Invalid email address" placeholder="email address" name="username" required />-->
                    {{ form.visible_fields.0 }}
                </div>
                <span class="help-block with-errors"></span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <!--<input  type="password" class="form-control" name="password" placeholder="Password" required>-->
                    {{ form.visible_fields.1 }}
                </div>
                <span class="help-block with-errors"></span>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
	</div>
    
    <div class="modal fade registrationForm" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content modal-bt">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
                </div>
                <div class="modal-body row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <form class="form-horizontal" action="/register_traveller/" id="traveller-registration" method="post" data-toggle="validator" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-user"></span>
                                    </div>
                                    <input  type="text" class="form-control" id="first_name" name="first_name" placeholder="Name" required />
                                </div>
                                <span class="help-block with-errors"></span>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-envelope"></span>
                                    </div>
                                    <input type="email" id="email" name="username" class="form-control" data-error="Invalid email address" placeholder="email address" required />
                                </div>
                                <span class="help-block with-errors"></span>
                            </div>

                            <div class="form-group">
                                <label><input type="checkbox" name="terms" required> I agree with the <a href="/privacy_terms">Terms and Conditions</a>.</label>
                                <span class="help-block with-errors"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" id="singUp-button" class="btn btn-lg btn-primary btn-block">Sign up</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	// This function gets cookie with a given name
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
	 
	/*
	The functions below will create a header with csrftoken
	*/
	 
	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	function sameOrigin(url) {
	    // test that a given url is a same-origin URL
	    // url could be relative or scheme relative or absolute
	    var host = document.location.host; // host + port
	    var protocol = document.location.protocol;
	    var sr_origin = '//' + host;
	    var origin = protocol + sr_origin;
	    // Allow absolute or scheme relative URLs to same origin
	    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
	        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
	        // or any other URL that isn't scheme relative or absolute i.e relative.
	        !(/^(\/\/|http:|https:).*/.test(url));
	}
	 
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
	            // Send the token to same-origin, relative URLs only.
	            // Send the token only if the method warrants CSRF protection
	            // Using the CSRFToken value acquired earlier
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});
	
	$('#traveller-registration').on('submit', function(event){
	    event.preventDefault();
		$('#singUp-button').hide();
	    register_traveller();
	});
	
	function register_traveller() {
		$.ajax({
	        url : "/register_traveller/", // the endpoint
	        type : "POST", // http method
	        data : $('#traveller-registration').serialize(),
			dataType : "json",
	        // handle a successful response
	        success : function(json) {
				$('#singUp-button').show()
	            if(json.success == true){
	                sweetAlert("Well done!",json.success, "success"); // log the returned json to the console    
	            }else{
	                sweetAlert(json.error, "","error");
				}
				$('#traveller-registration')[0].reset();
			},
	
	        // handle a non-successful response
	        error : function(xhr,errmsg,err) {
				$('#singUp-button').show()
	        }
	    });
	};
</script>

{%endblock%}
