{% extends 'base.html' %}
{% block title %} Statistics {% endblock %}
{% load i18n %} {% block content %}

<div class="container">
    <div class="text-center">
        <h1>{% trans "Statistics" %}</h1>
        <p>{% trans "There are a few statistics that you might find interesting " %}</p>
    </div>
    
	<div class="row">
		<div class="col-xs-12 col-sm-6">
	  	 	<div class="panel panel-default">
		  	 	<div class="panel-heading text-center"><h4>{% trans "Users who travel more" %}</h4></div>
		  	 	<div class="panel-body">
		    		{% for traveller in travellers_travelling %}
			    		<div class="media">
			    			<div class="media-left">
								<a href="/profile/{{traveller.id}}">
						      		<img class="media-object img-circle" src="/{{traveller.photo}}" style="width: 150px; height: 150px;"  />
						    	</a>
						  	</div>
						  	<div class="media-body" style="vertical-align: middle;">
						    	<h4 class="media-heading">{{forloop.counter}}. <a href="/profile/{{traveller.id}}">{{traveller.first_name}} {{traveller.last_name}}</a></h4>
						    	<b>{% trans "Number of trips" %}</b>: {{traveller.num_trips}}
						  	</div>
						</div>
		    		{% endfor %}
		    	</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6">
	  	 	<div class="panel panel-default">
		  	 	<div class="panel-heading text-center"><h4>{% trans "Venues most visited" %}</h4></div>
		  	 	<div class="panel-body">
		    		{% for venue in most_visited_venues %}
			    		<div class="media">
			    			<div class="media-left">
								<a href="/venue_details/{{venue.id}}">
						      		<img class="media-object img-circle" src="{{venue.photo}}" style="width: 150px; height: 150px;" />
						    	</a>
						  	</div>
						  	<div class="media-body" style="vertical-align: middle;">
							    <h4 class="media-heading">{{forloop.counter}}. <a href="/venue_details/{{venue.id}}">{{venue.name}} </a></h4>
							    <b>{% trans "Number of visits" %}</b>: {{venue.num_visit}}
						  	</div>
			    		</div>
		    		{% endfor %}
		    	</div>
		    </div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 col-sm-6">
	  	 	<div class="panel panel-default">
		  	 	<div class="panel-heading text-center"><h4>{% trans "Most useful tips" %}</h4></div>
		  	 	<div class="panel-body">
		    		{% for feedback in most_useful_tips %}
			    		<div class="media">
			    			<div class="media-left">
								<a href="/venue_details/{{feedback.venues.id}}">
						      		<img class="media-object img-circle" src="{{feedback.venues.photo}}" style="width: 150px; height: 150px;"  />
						    	</a>
						  	</div>
						  	<div class="media-body" style="vertical-align: middle;">
						    	<h4 class="media-heading">{{forloop.counter}}. <a href="/venue_details/{{feedback.venues.id}}">{{feedback.venues.name}}</a></h4>
						    	<b>{% trans "Description" %}</b>: {{feedback.description|safe|truncatechars:100}}
						  	</div>
						</div>
		    		{% endfor %}
		    	</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6">
	  	 	<div class="panel panel-default">
		  	 	<div class="panel-heading text-center"><h4>{% trans "Most liked trips" %}</h4></div>
		  	 	<div class="panel-body">
		    		{% for public_trip in most_liked_trips %}
			    		<div class="media">
			    			<div class="media-left">
						      	<img class="media-object img-circle" src="/{{public_trip.traveller.photo}}" style="width: 150px; height: 150px;" />
						  	</div>
						  	<div class="media-body" style="vertical-align: middle;">
						  		<h4 class="media-heading">{{forloop.counter}}. <a href="/public_trip_details/{{public_trip.id}}">{{public_trip.name}}</a></h4>
							    <div>{% trans "Number of likes" %}: {{public_trip.num_likes}}</div>
							    <p> <b>{% trans "Description: " %}</b> {{public_trip.publishedDescription|safe|truncatechars:100}}</p>
						  	</div>
			    		</div>
		    		{% endfor %}
		    	</div>
		    </div>
		</div>
	</div>
	
	
</div>
{% endblock %}
