{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Trip list" %} {% endblock %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <h1>{{ title_list }}</h1>

        <div class="col-xs-12 col-sm-11">
        {% for trip in trips %}
            <div class="well col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5  col-lg-3 col-lg-offset-1">
                <div class="col-xs-12 text-center" style="min-height: 80px; text-align: center">
                    <h3 style="height: 80px; vertical-align: middle; display: table-cell;">{{trip.city|safe}}</h3>
                </div>
                <div class="col-xs-12">
                    <img src="{{ trip.day_set.all.0.venues.all.0.photo }}" class="img-responsive" style="max-height: 250px" onerror="this.src='{% static "img/no-image.png" %}'">
                </div>
                
                <div class="col-xs-12" style="margin-top: 20px">
                    <p><i class="fa fa-globe fa-1x"></i> {{trip.country|safe}}</p>
                </div>
                <div class="col-xs-12">
                    <!-- <p><i class="fa fa-calendar"></i> {{trip.startDate}}</p> -->
                    <p><i class="fa fa-money"></i> {{trip.coins}}</p>
                </div>
                <div class="col-xs-12">
                    <ul class="list-inline list-unstyled">
                        <li><a href="/show_planning/{{trip.scorable_ptr_id}}" style="text-decoration: None;"><i class="fa fa-info-circle"></i> {% trans "View more" %}</a></li>
                    </ul>
                </div>
            </div>
        {% empty %}
        <p>{% trans "Oops! BrainTravel could not find anything..." %}</p>
        {% endfor %}
        
	        <nav class="col-xs-12">
	          <ul class="pager">
	            <li {% if not trips.has_previous %} class="disabled" {% endif %}>
	              <a {% if trips.has_previous %} href="?page={{ trips.previous_page_number }}" {% endif %}><span aria-hidden="true">&laquo;</span></a>
	            </li>
	            
	            <li>
	             <span>{% trans "Page" %} {{ trips.number }} {% trans "of" %} {{ trips.paginator.num_pages }}</span>
	            </li>
	            
	            <li {% if not trips.has_next %} class="disabled" {% endif %}>
	                <a {% if trips.has_next %} href="?page={{ trips.next_page_number }}" {% endif %}><span aria-hidden="true" class="disabled" >&raquo;</span></a>  
	            </li>
	          </ul>
	        </nav>
       
        </div>

</div>
{%endblock%}