{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Trip list" %} {% endblock %}
{% block content %}
<div class="container">
    {% load i18n %}
    <h1>{{ title_list }}</h1>
    {% if not trips %}
        <p>{% trans "Oops! BrainTravel could not find anything..." %}</p>
    {% else %}
        {% for trip in trips %}
            <div class="well animated col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="media">
                    <div class="row">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2>{{trip.name}}</h2>
                        </div>
                        <div class="text-right-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p><i class="fa fa-globe fa-1x"></i> {{trip.city|safe}} ({{trip.country|safe}})</p>
                        </div>
                        <div class="text-justify col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>{{trip.publishedDescription|safe|truncatechars:350}}</p>
                        </div>
                        <div class="text-left-center col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <p><i class="fa fa-calendar"></i> {{trip.startDate}} - {{trip.endDate}}</p>
                        </div>
                        <div class="text-right-center col-xs-12 col-sm-12 col-md-offset-0 col-md-7 col-lg-offset-1 col-lg-6">
                            <ul class="list-inline list-unstyled">
                                <li> {{trip.get_state_display}}</li>
                                <li>|</li>
                                <li> {{trip.comment_set.all.count}} <i class="fa fa-comments"></i></li>
                                <li>|</li>
                                <li><i class="fa fa-thumbs-o-up"></i> {{trip.likes}}</li>
                                <li>|</li>
                                <li><i class="fa fa-thumbs-o-down"></i> {{trip.dislikes}}</li>
                                <li>|</li>
                                <li><i class="fa fa-star fa"></i> {% firstof trip.scorable_ptr.rating  ' -' %} / 10</li>
                                <li><a href="/public_trip_details/{{trip.scorable_ptr_id}}" style="text-decoration: None;"><i class="fa fa-info-circle"></i> {% trans "View more" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <nav class="col-xs-12">
              <ul class="pager">
                <li {% if not trips.has_previous %} class="disabled" {% endif %}>
                  <a {% if trips.has_previous %} href="?page={{ trips.previous_page_number }}" {% endif %}><span aria-hidden="true">&laquo;</span></a>
                </li>
                
                <li>
                 <span>{% trans "Page" %} {{ trips.number }} {% trans "of" %} {{ trips.paginator.num_pages }}</span>
                </li>
                
                <li {% if not trips.has_next %} class="disabled" {% endif %}>
                    <a {% if trips.has_next %} href="?page={{ trips.next_page_number }}" {% endif %}><span aria-hidden="true" class="disabled" >&raquo;</span></a>  
                </li>
              </ul>
            </nav>
    {% endif %}
</div>
{%endblock%}
