{% extends 'base.html' %}
{% block extrahead %}
  {{ form.media }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
    {% if create %}
        <h2>Create Trip</h2>
    {% else %}
        <h2> Edit Trip</h2>
    {% endif %}

    {% if create %}
        <form action="/Trip/create/" method="post">{% csrf_token %}
    {% else %}
        <form action="/Trip/edit/{{ trip.id }}" method="post" role="form">
    {% endif %}


        {% for field in form.visible_fields %}

            <div id="div_{{ field.html_name }}" class="col-xs-6col-md-6 form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                <div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
                </div>
                <div class="help-block">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% csrf_token %}
        <div class="form-group">
            <input type="submit" name="save" value="Publish Trip" class="btn btn-primary"/>
            <input type="submit" name="save" value="Save draft" class="btn btn-primary"/>
        </div>
    </form>
</div>
</div>

{% endblock %}