{% extends 'base.html' %}
{% block title %} Trip list {% endblock %}
{% block content %}
    {% load i18n %}
    {% if not trips %}
        <p>{% trans "We couldn't find anything..." %}</p>
    {% endif %}
    {% for trip in trips %}
        <div class="well animated fadeInUp">
            <div class="media">
            <a class="pull-left" href="/profile/{{ trip.traveller.id }}">
                {% if  trip.traveller.photo != None %}
                    <img class="img-rounded" src="/static/user_folder/{{trip.traveller.photo}}">
                {% else %}
                    <img class="img-rounded" src="/static/user_folder/default.jpg">
                {% endif %}
            </a>
            <div class="media-body">
                <h3 class="media-heading">{{trip.name}} {% if perms.principal.administrator %}({{ trip.get_state_display }}){% endif %}</h3>
                <p class="text-right">By {{trip.traveller}}</p>
                <p>{{trip.publishedDescription|safe}}</p>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="fa fa-calendar"></i> {{trip.startDate}} - {{trip.endDate}}</span></li>
                    <li>|</li>
                    <span> {{trip.comment_set.all.count}} <i class="fa fa-comments"></i></span>
                    <li>|</li>
                    <span><i class="fa fa-thumbs-o-up"></i> {{trip.likes}}</span>
                    <li>|</li>
                    <span><i class="fa fa-thumbs-o-down"></i> {{trip.dislikes}}</span>
                    <li>|</li>
                    <a href="/public_trip_details/{{trip.scorable_ptr_id}}"><i class="fa fa-info-circle"></i> View more</a>
                </ul>
            </div>
            </div>
        </div>
    {% endfor %}

    <a class="pull-left" href="/trip/create/"> {% trans "Create Trip" %}</a>

    <div class="pagination">
        <span class="step-links">
            {% if trips.has_previous %}
                <a href="?page={{ trips.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ trips.number }} of {{ trips.paginator.num_pages }}.
            </span>

            {% if trips.has_next %}
                <a href="?page={{ trips.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{%endblock%}